<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-sm-12">
      <div class="loader" ng-show="imageloader">
        <div class="loadercontainer">
          <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
          Uploading your images please wait...
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="dragdropcenter" ng-hide="imageloader">
        <div ngf-drop ngf-select class="drop-box" ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
          accept="image/*" ng-model="images" ngf-keep="'distinct'">Drop images here or click to upload
        </div>
      </div>
    </div>

    <div class="line line-lg"></div>

    <alert ng-repeat="alert in imgalert" type="{[{alert.type }]}" close="closeImgAlert($index)">{[{ alert.msg }]}</alert>

    <div class="col-sm-6" ng-repeat="img in images">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="imagelist">
            <img ngf-src="img" class="img-responsive" style="max-height:100%; margin:0 auto;" />
          </div>
        </div>
        <div class="panel-footer">
          <input type="text" class="form-control" ng-model="img.url" placeholder="Put URL here 'http://' "/>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">

      <div class="col-sm-12">
        <div class="btn-group pull-right">
          <button class="btn btn-sm btn-default" ng-click="cancel()">Cancel</button>
          <button ng-if="images" class="btn btn-sm btn-success" ng-click="uploadImgWithUrl(images)">Upload</button>
        </div>
      </div>

    </div>
  </div>
</div>
