<div class="wrapper bg-light lter b-b">
	<div class="btn-group m-r-sm">
		<h1 class="m-n font-thin h3">¡Se Habla Español!</h1>
	</div>
</div>

<!-- <div class="col-md-12" ng-init="socialtablelist = true"> -->
<div class="col-md-12 wrapper-md" >
	<div class="panel panel-default">
		<div class="panel-heading font-bold">
			&nbsp; 
		</div>

		<div class="panel-body">
			<div class="col-sm-12">
				<div style="padding:10px 0;width:60px;float:left;">
					<label class="i-switch bg-info l-t-xs l-r" style="margin-top:1px">
						<input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model="spnlstatus" ng-click="spnlchangestatus(spnlstatus)">
						<i></i>
					</label>
				</div>
				<div style="padding:10px;width:100px;float:left;">
					<span class="label bg-success" ng-show="spnlstatus == 1">Show</span>
					<span class="label bg-dark" ng-show="spnlstatus == 0">Hidden</span>
				</div>
			</div>
		</div>
	</div>
</div>