<!DOCTYPE html>
<html>
<head>
<style>
body {
  background:#6fa8ff;
  margin:0;
  padding:0;
  text-align:center;
  font-family:sans-serif;
  color:white;
}
footer {
  position:fixed; bottom:0;
  height:100px;
  background:#3f577d;
  width:100%;
}
</style>
</head>
<body>
  <span style="font-size:500px; margin:20%; text-shadow:0 5px 10px #333;">404</span>
  <br>
  <a href="/" style="color:white;">Go to home page</a>
  <br>
  Bodynbrain.com
<footer style="display:table-cell; vertical-align:middle; font-size:40px; padding:30px; box-sizing:border-box">
ERROR... PAGE NOT FOUND
</footer>
</body>
</html>
