<div class="panel panel-default no-margin">
	<div class="panel-heading"><i class=" icon-note "></i> Billing Information</div>
	<div class="panel-body">
		<form class="bs-example form-horizontal customform" name="form"> 
      <div class="form-group hiddenoverflow">
        <label class="col-lg-4 control-label">First name *</label>
        <div class="col-lg-6">
          <span class="label label-danger" ng-if="error.firstname">This field is required.</span>
          <input type="text" class="form-control" ng-model="billingaddr.firstname" ng-disabled="disabled" ng-change="change(billingaddr.firstname, 'fname')" required>
        </div>
      </div>

      <div class="form-group hiddenoverflow">
        <label class="col-lg-4 control-label">Last name *</label>
        <div class="col-lg-6">
          <span class="label label-danger" ng-if="error.lastname">This field is required.</span>
          <input type="text" class="form-control" ng-model="billingaddr.lastname" ng-disabled="disabled" ng-change="change(billingaddr.lastname, 'lname')" required>
        </div>
      </div>

      <div class="form-group hiddenoverflow">
        <label class="col-lg-4 control-label">address *</label>
        <div class="col-lg-6">
          <span class="label label-danger" ng-if="error.address">This field is required.</span>
          <input type="text" class="form-control" ng-model="billingaddr.address" ng-disabled="disabled" ng-change="change(billingaddr.address, 'address')" required>
        </div>
      </div>
      
      <div class="form-group hiddenoverflow">
        <label class="col-lg-4 control-label">address 2 </label>
        <div class="col-lg-6">
          <input type="text" class="form-control" ng-model="billingaddr.address2" ng-disabled="disabled" required>
        </div>
      </div>

      <div class="form-group hiddenoverflow">
        <label class="col-lg-4 control-label">City *</label>
        <div class="col-lg-6">
          <span class="label label-danger" ng-if="error.city">This field is required.</span>
          <input type="text" class="form-control" ng-model="billingaddr.city" ng-disabled="disabled" ng-change="change(billingaddr.city, 'city')" required>
        </div>
      </div>

      <div class="form-group hiddenoverflow">
        <label class="col-lg-4 control-label">Country *</label>
        <div class="col-lg-6">
          <span class="label label-danger" ng-if="error.country">This field is required.</span>
          <div ng-model="billingaddr.country" country-select ng-change="change(billingaddr.country, 'country')"></div>
        </div>
      </div>

      <div class="form-group hiddenoverflow">
        <label class="col-lg-4 control-label">State/Province *</label>
        <div class="col-lg-6">
          <span class="label label-danger" ng-if="error.state">This field is required.</span>
          <div country="{[{ billingaddr.country }]}" ng-model="billingaddr.state" state-select ng-change="change(billingaddr.state, 'state')"></div>
        </div>
      </div>

      <div class="form-group hiddenoverflow">
        <label class="col-lg-4 control-label">Zip/Postal Code</label>
        <div class="col-lg-6">
          <input type="text" class="form-control" ng-model="billingaddr.zipcode" ng-disabled="disabled">
        </div>
      </div>

      <div class="form-group hiddenoverflow">
        <label class="col-lg-4 control-label">Phone number</label>
        <div class="col-lg-6">
          <input type="text" class="form-control" ng-model="billingaddr.phoneno" ng-disabled="disabled">
        </div>
      </div>
		</form>

	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<button class="btn btn-primary" ng-click="submit(billingaddr)">Submit</button>
		</div>
		<div style="clear:both;"></div>
	</footer>
</div>
