<div class="dv-contactus" id="non-printable">
  <img src="/img/pages/contactus/x.png" class="x-contactus" ng-click="x()" />
  <div class="font-md">
    For questions or comments:
    <br>
    Send us an email or contact one of our centers.
    <div class="col-sm-6 mg-md-x cu-state">
      <div class="styled-select2">
        <select ng-model="contact.state" ng-change="changeContactState(contact.state)">
          <option value="" selected>State</option>
          <option ng-repeat="state in contactUsStates" value="{[{state.state_code}]}" ng-bind="state.state"></option>
        </select>
      </div>
    </div>
    <div class="col-sm-6 mg-md-x cu-center">
      <div class="styled-select2">
        <select ng-model="contact.center" ng-change="changeContactCenter(contact.center)" style="">
          <option value="" selected>Center Name</option>
          <option ng-repeat="center in contactUsCenters" value="{[{center.centerslugs}]}" ng-bind="center.centertitle"></option>
        </select>
      </div>
    </div>
    <div class="col-sm-12">
      <span ng-if="contact.center != undefined && contact.center != '' " class="visitcenter" ng-click="visitCenter(contact.center)">visit this center</span>
    </div>

    <div class="col-sm-12">
      <label class="font-xs">emails</label> <br>
      <!-- <a ng-href="mailto:{[{contact.email}]}" ng-bind="contact.email"></a> -->
      <span class="pointer" ng-bind="contact.email" ng-click="openEmailbox()"></span>

      <div class="panel panel-default" style="margin-top:15px;" ng-show="compose">
        <div class="panel-body">
          <form id="frm_composeEmail" name="composeEmail" ng-submit="sendEmail(email)" ng-hide="isBusy">
            <div class="form-group">
              <input type="text" id="CU_name" class="form-control" placeholder="First Name & Last Name (ex. Albert Einstein)" ng-model="email.name" required>
            </div>

            <div class="form-group">
              <input type="email" id="CU_emailfrom" class="form-control" placeholder="youremail@domain.com" ng-model="email.from" required>
            </div>

            <div class="form-group">
              <input type="text" id="CU_emailsubj" class="form-control" placeholder="Subject" ng-model="email.subject" required>
            </div>

            <div class="form-group">
              <textarea id="CU_emailmsg" class="form-control rz-x" rows="7" placeholder="Type your message..." ng-model="email.message" required></textarea>
            </div>

            <div class="form-group">
              <button type="submit" class="form-control btn btn-sm btn-block btn-orange">Send</button>
            </div>
          </form>
          <span ng-show="isBusy" style="font-size:20px;" >
            Please wait <br>
            <i class="fa fa-circle-o-notch fa-spin"></i>
          </span>
        </div>
      </div>

    </div>

    <hr class="dr1 mg-sm">
    <label class="font-xs">phone</label>
    <div>
        <a ng-href="tel:{[{contact.phone}]}"><i class="fa fa-phone"></i> {[{contact.phone}]}</a>
    </div>
    <br>
    <a href="/locations">view our centers</a>
  </div>
</div> <!-- end of dv-contactus -->
