<div class="panel panel-default">
	<div class="panel-heading">
		Forgot password?
		<i class="fa fa-close pull-right pointer" ng-click="close()"></i>
	</div>
	<div class="panel-body">
		<div ng-hide="isBusy">
	 	Click <u class="pointer" ng-click="sendEmail()">here</u> to send you a "change password request" to your email. Thank you.
	 	</div>

	 	<div class="align-c" ng-show="isBusy">
		 	<i class="fa fa-circle-o-notch fa-spin"></i>
		 	<br>
		 	Please wait
	 	</div>
	</div>
</div>