<div class="wrapper-lg-vw" ng-if="!member.id">
  <div class="row align-c">
      <div class="col-sm-offset-2 col-sm-3">
        <div class="panel shadow-hov" ng-click="loginbtn()">
          <div class="panel-body">
            <img src="/img/login.png" class="img-responsive mar-auto-h" style="max-width:180px;" />
            <h3>login</h3>
            <p class="gray text-sm">
              To our dearest members, please use your existing account to login in our system. Thank you.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-offset-1 col-sm-3">
        <div class="panel shadow-hov" ng-click="signupbtn()">
          <div class="panel-body">
            <img src="/img/signup.png" class="img-responsive mar-auto-h" style="max-width:180px;" />
            <h3>sign up</h3>
            <p class="gray text-sm">
              To our valued guest & visitors, please register and continue to experience Body&Brain services.
            </p>
          </div>
        </div>
      </div>
  </div>
</div>
