<div>
  <div class="dv-share-story">
    <fieldset ng-disabled="isSaving">
    <form name="shareStoryForm" ng-submit="submitStory(shareStory)">
      <center>
        <br>
        <img src="/img/x.png" class="pointer x-share-story" ng-click="exit()" title="close">
        <br><br>
        <div class="col-sm-12">
        How has Body & Brain affected your physical, mental, emotional, and/or spiritual life? Please include background information about your condition before you started our practice and how long you've been practicing for. Your sharing not only inspires us to become better in what we do but also others who are seeking health and healing. If possible, may we ask that you provide a photo of yourself or allow us to use a photo of you that we may have on file. Thank you! 
        </div>
      </center>
      <br>
      <div class="col-sm-6 wrapper-sm">
        <input type="text" class="form-control fl txt-c" ng-model="shareStory.firstname" placeholder="First Name" required>
      </div>
      <div class="col-sm-6 wrapper-sm">
        <input type="text" class="form-control fl txt-c" ng-model="shareStory.lastname" placeholder="Last Name" required>
      </div>
      <div class="col-sm-12 wrapper-sm">
        <input type="email" class="form-control fl txt-c" ng-model="shareStory.email" placeholder="Email" ng-change="onemail(shareStory.email);" required>
        <p class="red" ng-if="erroremail" ng-bind-html="erroremail"></p>
      </div>

      <div class="col-sm-offset-3 col-sm-6 wrapper-sm">
        <input type="file" name="photo" id="photo" class="hidden" ng-model="shareStory.photo" ngf-select="onChangePic(shareStory.photo)" ngf-allow-dir="true" accept="image/*" / >
        <label class="btn btn-orange btn-block fl" for="photo" ng-bind="fileName"></label>
        .jpg, .jpeg, .png
      </div>

      <div class="col-sm-12 wrapper-sm">
        <select type="text" class="form-control fl" ng-model="shareStory.state" ng-options="state as state.state for state in states track by state.state_code" ng-change="onstate(shareStory.state);"></select>
      </div>

      <div class="col-sm-12 wrapper-sm">
        <select type="text" class="form-control fl" ng-model="shareStory.center" ng-options="center as center.centertitle for center in centers track by center.centerid" ng-change="sample(shareStory.center)" ng-disabled="disabled"></select>
      </div>

      <div class="col-sm-12 wrapper-sm">
        <input type="text" class="form-control fl" ng-model="shareStory.subject" placeholder="Subject" required>
      </div>
      <div class="col-sm-12">
        <span class="badge pull-right" style="background:#bbb; color:white!important; position:relative; top:-5px;"
              ng-bind="shareStoryForm.details.$viewValue.length || 0"></span>
        <textarea name="details" class="form-control rz-x fl" rows="5" ng-model="shareStory.message" placeholder="Enter Message" minlength="200" required></textarea>
      </div>

      <div class="col-sm-5">
        <button type="submit" class="btn btn-orange btn-block fl mg-sm-x">Submit <i class="fa fa-spinner fa-spin" ng-show="isSaving"></i></button>
      </div>
    </form>
    </fieldset>
  </div>
</div>
