<style>
  .centersectioncontainer .col-sm-12 > h4 {
    margin: 0px;
  }
  .centersectioncontainer .col-sm-12 > h3 {
    margin:0px;
    margin-bottom: 10px;
  }

  .centersectioncontainer .col-sm-12 > p {
    margin:20px 0px;
  }

</style>
<div class="row centersectioncontainer viewsched wrapper-md">
  <div class="col-sm-12 txt-c">
    <img src="/img/pages/contactus/x.png" class="pointer" ng-click="exit()" title="close" />
  </div>
  <div class="col-sm-12">
    <br>
    <h3>{[{ sched.etitle }]}</h3>
    <h4 class="no-margin">{[{ sched.datesss | date:'EEE MM/dd'}]}</h4>
    <h4 class="no-margin">{[{sched.estarthour + ' ' + sched.estarttimeformat}]} - {[{sched.eendhour + ' ' + sched.eendtimeformat}]}</h4>
    <p ng-bind-html="sched.edesc" style="word-break: break-word;"></p>
    <a ng-if="sched.type=='class'" href="/getstarted/starterspackage/{[{ sched.ecenterslugs }]}/{[{sched.datesss}]}/{[{sched.estarthour + ' ' + sched.estarttimeformat }]}/{[{index}]}/{[{sched.etitle}]}" class="btn btn-sm btn-orange">join</a>
  </div>
</div>
