<div class="row centersectioncontainer wrapper-md">
  <div class="col-sm-12 txt-c">
    <img src="/img/pages/contactus/x.png" class="pointer" ng-click="exit()" title="close" />
    <br>
    <h3>Location News</h3>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default wrapper-sm-x" ng-repeat="news in fullnews">
      <a ng-href="/{[{centerslugs}]}/newspost/{[{news.newsslugs}]}" class="b-link">
        <div class="panel-body">
            <div class="col-sm-3">
              <img src="{[{amazonlink}]}/uploads/newsimage/{[{news.banner}]}" class="img-responsive" err-src="/img/no-banner.png"  />
            </div>
            <div class="col-sm-9">
              <h4>{[{news.title}]}</h4>
              {[{news.description}]}
            </div>
        </div>
      </a>
    </div>
  </div>
</div>
