<style>
.photocontainer {
  width:120px;
  height:120px;
  border-radius:50%;
  margin:0 auto;
  overflow:hidden;
  background-size: cover!important;
}
@media screen and (max-width:767px) {
  #testimonials {
    text-align: center;
    margin:0 auto;
  }
  .photocontainer {
    width:180px;
    height:180px;
    background-size:cover!important;
  }
}
</style>
<div class="row centersectioncontainer wrapper-md" ng-cloak>
  <div class="col-sm-12 txt-c">
    <img src="/img/pages/contactus/x.png" class="pointer" ng-click="exit()" title="close" />
    <br>
    <h3>Location Testimonials</h3>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default wrapper-sm-x" ng-repeat="story in fulltestimonials">
      <a ng-href="/success-stories/details/{[{story.ssid}]}/{[{story.subject}]}" class="b-link">
        <div id="testimonials" class="panel-body">
            <div class="col-sm-3">
              <div class="photocontainer" style="background:url('/img/unknownProfile.png') no-repeat center center;">
                <!-- <img src="{[{amazonlink}]}/uploads/testimonialimages/{[{story.photo}]}" err-src="/img/unknownProfile.png"  /> -->
                <div class="photocontainer" style="background:url('{[{amazonlink}]}/uploads/testimonialimages/{[{story.photo}]}') no-repeat center center;">
                </div>
              </div>
            </div>
            <div class="col-sm-9">
              <h4>{[{story.subject}]}</h4>
              {[{story.metadesc}]}
            </div>
        </div>
      </a>
    </div>
    <div class="panel-footer">
      <center>
        1 - {[{fulltestimonials.length}]} of ({[{totalItems}]})
        <br>
        <span class="pointer" ng-click="showMore()" ng-show="showmore">Show more</span>
      </center>
    </div>
  </div>
</div>
