<div class="row centersectioncontainer fullevent wrapper-md">
  <div class="col-sm-12 txt-c">
    <img src="/img/pages/contactus/x.png" class="pointer" ng-click="exit()" title="close" />
    <br>
    <h3 ng-if="monthsched == false">Events Calendar</h3>
    <h3 ng-if="monthsched">Schedule Calendar</h3>
    <div style="width:auto; margin:auto;">
        <a href="#" ng-click="togglecalendar(true)" class="btn btn-sm btn-orange">Class</a>
        <a href="#" ng-click="togglecalendar(false)" class="btn btn-sm btn-orange">Events</a>
    </div>
  </div>
  <div class="col-sm-12 centerevents" ng-repeat="event in centerevents">
    <div class="row" ng-if="monthsched==false">
      <div class="col-sm-offset-1 col-sm-5 col-md-3">
        <h4><b ng-bind="event.day"></b></h4>
        <span class="day" ng-bind="event.datestart"></span>
        <!-- <span class="mv">|</span> -->
        <!-- <span class="time">
          {[{event.estarthour}]} {[{event.estarttimeformat}]} - {[{event.eendhour}]} {[{event.eendtimeformat}]}
        </span> -->
      </div>
      <div class="col-sm-6 col-md-8">
        <h4><b ng-bind="event.etitle"></b></h4>
        <!-- <div ng-bind-html="event.desc"></div> -->
        <span class="time">
          {[{event.estarthour}]} {[{event.estarttimeformat}]} - {[{event.eendhour}]} {[{event.eendtimeformat}]}
        </span>
        <br>
        <a href="#" class="b-link" ng-click="viewmore(event.eid, event.edate, slist.estarthour + ' ' + slist.estarttimeformat, $index)"> <i class="fa fa-chevron-right"></i> view more</a>
      </div>
    </div>

    <div class="row" ng-if="monthsched && e.classandday" ng-repeat="e in event">
      <div class="col-sm-offset-1 col-sm-5 col-md-3">
        <h4><b ng-bind="event.day" ng-if="$index == 0"></b></h4>
      </div>
      <div class="col-sm-6 col-md-8">
        <h4><b ng-bind="e.classandday"></b></h4>
        <span class="time">
          {[{e.starttime}]} - {[{e.endtime}]}
        </span>
        <br>

        <a href="#" class="b-link" ng-click="viewmore(e.classid, event.day, e.starttime, $index)" style="margin-bottom:10px;"> <i class="fa fa-chevron-right"></i> view more</a>
      </div>
    </div>
  </div>

  <p class="text-center" ng-if="monthsched==false && centerevents.length ==0 ">No events found</p>
</div>
