<div class="wrapper-lg">
  <fieldset ng-disabled="isBusy">
    <form name="paymentFORM" ng-submit="submitPayment(payment, billing)">
      <div class="row">
        <div class="titlesection">Payment Method</div>
        <br><br>
        <div class="col-sm-5 col-lg-3 form-group nopad">
          <input type="text" class="form-control" ng-model="payment.ccNumber" placeholder="Card Number" required/>
          <br>
          <input type="text" class="form-control" ng-model="payment.fname" placeholder="First Name" required/>
          <br>
          <input type="text" class="form-control" ng-model="payment.lname" placeholder="Last Name" required/>
        </div>

        <div class="col-sm-12 nopad">
          <div class="col-sm-5 col-lg-3 form-group nopad">
            <label>Expiration Date</label>
            <br>
            <div class="col-xs-6 nopad">
              <select class="form-control" ng-model="payment.ccExpiMonth"
                      ng-options="m.val as m.name for m in expimonth"  required>
              </select>
            </div>
            <div class="col-xs-6" style="padding: 0 0 0 15px;">
              <select class="form-control" ng-model="payment.ccExpiYear"
                  ng-options="y for y in expiyear" required>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-sm-offset-1 nopad" style="position:relative; top:16px;">
              <img src="/img/creditcards/amex.png" />
              <img src="/img/creditcards/discover.png" />
              <img src="/img/creditcards/visa.png" />
              <img src="/img/creditcards/mastercard.png" />
          </div>
        </div>
      </div>

      <div class="row">
        <br><br>
        <div class="titlesection">Billing Information</div>
        <br><br>

        <div class="col-sm-12 form-group nopad">
          <div class="col-sm-3 col-lg-2">Full Name</div>
          <div class="col-sm-5 col-lg-3"><input type="text" ng-model="billing.fullname" class="form-control"/></div>
        </div>

        <div class="col-sm-12 form-group nopad">
          <div class="col-sm-3 col-lg-2">Address Line 1</div>
          <div class="col-sm-5 col-lg-3"><input type="text" ng-model="billing.address1" class="form-control"/></div>
        </div>

        <div class="col-sm-12 form-group nopad">
          <div class="col-sm-3 col-lg-2">Address Line 2</div>
          <div class="col-sm-5 col-lg-3"><input type="text" ng-model="billing.address2" class="form-control" /></div>
        </div>

        <div class="col-sm-12 form-group nopad">
          <div class="col-sm-3 col-lg-2">City</div>
          <div class="col-sm-5 col-lg-3"><input type="text" ng-model="billing.city" class="form-control" /></div>
        </div>

        <div class="col-sm-12 form-group nopad">
          <div class="col-sm-3 col-lg-2">State</div>
          <div class="col-sm-5 col-lg-3"><input type="text" ng-model="billing.state" class="form-control" /></div>
        </div>

        <div class="col-sm-12 form-group nopad">
          <div class="col-sm-3 col-lg-2">Phone number</div>
          <div class="col-sm-5 col-lg-3"><input type="text" ng-model="billing.phone" class="form-control" /></div>
        </div>

        <div class="col-sm-12 form-group nopad">
          <div class="col-sm-3 col-lg-2">Zip Code</div>
          <div class="col-sm-5 col-lg-3"><input type="text" ng-model="billing.zip" class="form-control" /></div>
        </div>

        <div class="col-sm-12 form-group nopad">
          <div class="col-sm-3 col-lg-2">Qty</div>
          <div class="col-sm-5 col-lg-3"><input type="number" ng-model="billing.qty" ng-init="billing.qty = 1" class="form-control" required/></div>
        </div>

        <div class="col-sm-12 form-group nopad">
          <br>
          <input type="checkbox" ng-model="payment.terms" i-check required/>
          I accept and understand the <a href="/terms-of-use" target="_blank" style="color:orangered">terms & conditions</a>
          <br>
        </div>

        <div class="col-sm-12 nopad">
          <br>
          <b>Order Total: $<span ng-if="step2workshop.sale == 0 || step2workshop.sale == null" ng-bind="step2workshop.tuition * billing.qty"></span><span ng-if="step2workshop.sale != 0 || step2workshop.sale != null" ng-bind="step2workshop.sale * billing.qty"></span>.00</b>
          <br><br>
        </div>

        <div class="col-sm-12 nopad">
          <button type="submit" class="btn btn-orange">Submit</button>
          The confirmation page may take several seconds to appear after a successful transaction.
        </div>
      </div>
    </form>
  </fieldset>
</div>
