<div class="wrapper-lg">
  <div class="workshopstate" ng-bind="thisworkshop.workshopstate"></div>

  <div ng-if="thisworkshop.venue == 'bnbcenter' ">
    <span ng-bind="thisworkshop.centertitle" style="font-weight:bold; font-size:18px!important;"></span>
  </div>
  <div ng-if="thisworkshop.venue == 'bnbvenue' ">
    <b>
      <span ng-bind="thisworkshop.workshopcity" style="font-size:18px!important;"></span>
      (<span ng-bind="thisworkshop.centertitle"></span>)
    </b>
  </div>

  <div>
    <span ng-bind="thisworkshop.centeraddress"></span>, <span ng-bind="thisworkshop.centerzip"></span>
  </div>
  <div>
    Phone: <span ng-bind="thisworkshop.contact"></span>
  </div>

  <br><br>

  <fieldset ng-disabled="isBusy">
    <form name="infoFORM" ng-submit="gotostep3(info)">
      <div class="col-sm-5 col-lg-3 form-group nopad">
        <input type="text" class="form-control" ng-model="info.name" placeholder="Name" required/>
        <br>
        <input type="text" class="form-control" ng-model="info.address" placeholder="Home Address" required/>
        <br>
        <input type="email" class="form-control" ng-model="info.email" placeholder="Email Address" required/>
        <br>
        <input type="text" class="form-control" ng-model="info.contact" placeholder="Phone number" required/>
      </div>
      <textarea class="form-control rz-x" ng-model="info.message" placeholder="Is there anything you'd like us to know?" rows="5">
      </textarea>
      <br><br>
      <div ng-if="step2workshop.sale == 0 || step2workshop.sale == null">
        <b>Price: $<span ng-bind="step2workshop.tuition"></span></b>
      </div>
      <div ng-if="step2workshop.sale != 0 || step2workshop.sale != null">
        <b>
          Price: <strike>$<span ng-bind="step2workshop.tuition"></span></strike> <br>
          Sale: $<span ng-bind="step2workshop.sale"></span>
        </b>
      </div>
      <br><br>
      <button type="submit" class="btn btn-orange">Continue</button>
    </form>
  </fieldset>

</div>
