<style>
#step4, #step4 span { font-size:25px!important; }
</style>
<div class="wrapper-lg" id="step4">
  <div id="voucher">
    <div class="hidden">
    <img src="/img/workshoplogo.png" />
    <hr>
    </div>
    <div class="titlesection">Thank you!</div>
    This purchase entitles
    <span ng-bind="voucher.registrantname"></span>
    to an
    <span style="text-transform:uppercase;" ng-bind="voucher.workshop"></span>
    workshop at the
    <span ng-bind="voucher.venue"></span>.

    This is your voucher. It does not expire and is redeemable at any time the center hosts an
    <span ng-bind="voucher.workshop"></span>
    workshop.

    <br><br>

    <div class="titlesection" ng-bind="voucher.centertitle"></div>
    <div class="titlesection">  Phone: <span ng-bind="voucher.contact"></span></div>

    <br>
    Please contact your selected center to schedule your workshop.
    YOU MUST PRINT THIS VOUCHER and bring it with you.
    The centers require proof of purhase to redeem.
  </div>

  <br><br><br>
  <button type="button" class="btn btn-orange" ng-click="dlPdf()">Download .pdf of voucher</button>
  <a href="/workshops" class="btn btn-default">Return to Workshops</a>

</div>
