#homeNavbar, #mainNavbar {
  height:73px;
  box-sizing: border-box;
  width:100%;
  z-index:8;
}
#homeNavbar ul, #mainNavbar ul {
  height:100%;
  box-sizing: border-box;
}
#homeNavbar ul li, #mainNavbar ul li {
  height:inherit;
  box-sizing: border-box;
  padding:24px 10px;
}
#homeNavbar ul li a, #mainNavbar ul li a, #logsign span a {
  padding:0;
  color:#bababa;
}
#homeNavbar ul li a:hover, #mainNavbar ul li a:hover, #logsign span a:hover {
  color:#333;
}
#navHeader {
  display:inline-block;
}
#logsign {
  display:inline-block;
  height:100%;
  padding:24px 10px;
  box-sizing: border-box;
  padding-right: 25px;

}
#logsign li {
  padding: 0px 10px!important;
}
#logsign li > span,
#logsign li > a {
  margin: 0px 5px;
  float: left;
}
#logsign ul > li.open > a {
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  color:#000;
}
#logsign ul.dropdown-menu {
  min-height: 100%;
  height: initial;
  min-width: inherit;
}
#logsign ul.dropdown-menu li {
    float: left;
    width: 100%;
    font-size: 13px;
}
#logsign ul.dropdown-menu .divider {
  height: 1px!important;
}
#logsign ul.dropdown-menu li a:focus,
#logsign ul.dropdown-menu li a:hover {
  background-color: transparent;
  background-image: none;
}

#logsign-res {
  display:none;
}
#logsign-res span a {
  font-size:20px;
  font-weight:normal;
}
#tryaclass {
  position:relative; top:18px;
  margin:0;
}
#navMenuSwitch { display:none; }
#mainLogo {
  position:relative;
  top: 3px; left:-15px;
}

.wrapper {
  position:relative;
  height:100%;
}
#homeNavbar, .swiper-container, .body-container, #footer {
  position:absolute;
}
#homeNavbar, #mainNavbar, #footer, #mainfooter {
  padding:0 50px;
}
.swiper-container, .body-container {
  z-index:1;
  width:100%;
  height:100%;
}
#main-container {
  margin:0; padding:0;
  /*overflow:hidden;*/
  /*min-height: 100%;*/
}
#footer, #mainfooter {
  bottom:0;
  min-height:80px;
  width:100%;
  background:#FFFFFF;
  z-index:1;
  box-shadow:0 -2px 3px #dcdcdc;
}

#topMenu-res,
#forgotpass-res {
  position:relative;
  width:100%;
  background:white;
  text-align:center;
  overflow:auto;
  visibility:hidden;
  z-index:8!important;
  padding-bottom: 35px;
  border-bottom: 2px #e6e6e6 solid;
}
#topMenu-res a {
  display:inline-block;
  font-size:40px;
  font-weight:bold;
  padding:15px;
  cursor:pointer;
  color:#bababa;
}
#topMenu-res a:hover {
  color:#f15c22;
}
#x, #x2 {
  font-size:30px!important;
  color:#f15c22;
  font-style: normal;
  cursor:pointer;
}

.body-container {
  text-align:center;
  overflow:hidden;
  display:table;
}
.body-container .content-box {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  color:#bababa;
}
.body-container .content-box abbr {
  font-family:'Helvetica Bold';
  font-size:300px;
  line-height:100%;
  display:block;
}
.body-container .content-box div {
  font-size:50px;
}

#footer div, #mainfooter div {
  display:inline-block;
  padding-right:15px;
}
#footer div, #footer div a,
#mainfooter div, #mainfooter div a {
  color:#bababa;
  text-decoration:none;
}
#footer div.txt,
#mainfooter div.txt {
  position: relative;
  top:30px;
}
#footer div.logo,
#mainfooter div.logo {
  position: relative;
  top:15px;
}
#footer div a:hover,
#mainfooter div a:hover {
  color:#333;
}
#footer #rightcorner,
#mainfooter #rightcorner {
  float:right;
  margin-top:0!important; padding:0;
  background:#FFFFFF;
}
#footer #rightcorner div,
#mainfooter #rightcorner div {
  position:relative; top:17px;
}
#footer #rightcorner div.logo,
#mainfooter #rightcorner div.logo {
  padding-right:0;
}

#forgotpass-res > h3 {
  margin-top: 10px;
}

#forgotpass-res > div {
  width: 115px;
  margin: auto;
  overflow: hidden;
  font-size: 18px;
}

#forgotpass-res > div > span {
  margin: 0px 2px;
}

#forgotpass-res > form {
  width: 240px;
  margin: 20px auto auto;
}

#forgotpass-res > form > div.form-group > input {
  height: 40px;
  font-size: 17px;
}

#forgotpass-res > form > button {
  padding:9px 12px;
}

#footer > .txt:first-child{
  top: 0px;
  padding: 0px;
}

#footer .social-m-container .social-m .story-social,
#footer .social-m-container .social-m .social-btn-o {
  height: 23px;
  width:23px;
}

@media screen and (max-width:1000px) {
  #homeNavbar, #mainNavbar, #footer, #mainfooter {
    padding:0 30px;
  }
  #topMenu { display:none; }
  #navMenuSwitch {
    display:inline-block;
    position:relative; top:15px;
    font-size:27px;
    cursor:pointer;
    transition: all ease .2s;
    -webkit-transition: all ease .2s;
    filter:grayscale(100%);
    -webkit-filter:grayscale(100%);
  }
  #navMenuSwitch:hover {
    filter:grayscale(0);
    -webkit-filter:grayscale(0);
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
  }
  #mainLogo {
    left:-5px;
  }
}
@media screen and (max-width:900px) {
  #homeNavbar, #mainNavbar, #footer, #mainfooter {
    padding:0 20px;
  }
}
/*@media screen and (max-width:855px) {*/
@media screen and (max-width:884px) {
  #homeNavbar, .swiper-container, .body-container, #footer {
    position:relative;
  }
  .swiper-container, .body-container {
    z-index:1;
    width:100%;
    height:50vw;
  }
  .body-container .content-box { padding:50px; }
  .body-container .content-box abbr { font-size:150px; }
  .body-container .content-box div { font-size:32px; }
  #footer, #mainfooter {
    position:relative!important;
    bottom:0;
    min-height:80px;
    width:100%;
    background:white;
    z-index:0;
    border-top:1px solid #ededed;
    box-shadow:none;
  }

  #footer div.txt, #mainfooter div.txt {
    display:block;
    top:0;
    text-align:center;
    padding:20px 0;
    width:100%;
  }
  #footer #rightcorner, #mainfooter #rightcorner {
    width:100%;
  }
  #footer #rightcorner div, #mainfooter #rightcorner div {
    display:block;
    top:0;
  }
  #footer #rightcorner .divider,  #mainfooter #rightcorner .divider {
    display:none;
  }
  #footer #rightcorner .logo, #mainfooter #rightcorner .logo {
    text-align:right;
  }

  @media screen and (max-width:952px) {
    #footer div, #mainfooter div {
      padding-right: 6px;
    }
  }
}
@media screen and (max-width:767px) {
  #homeNavbar, #mainNavbar, #footer, #mainfooter {
    padding:0 15px;
  }
  #mainLogo {
    left:0;
  }
}
@media screen and (max-width:720px) {
  #logsign {
    display:none;
  }
  #logsign-res {
    display:block;
  }
}

@media screen and (max-width:500px) {
  #tryaclass {
    height:30px;
    top:20px;
    font-size:10px;
  }
}
@media screen and (max-width:450px) {
  .body-container .content-box div { font-size:24px; }
  .body-container .content-box div a { margin-top:15px; }
}
@media screen and (max-width:412px) {
  #mainLogo {
    position:relative; top:11px; left:5px;
    width:160px;
  }
}
@media screen and (max-width:360px) {
  .body-container .content-box abbr { font-size:100px; }
  .body-container .content-box div { font-size:16px; }
}
@media screen and (max-width:320px) {
  #mainLogo {
    width:150px;
  }
}
@media screen and (max-width:310px) {
  #mainLogo {
    margin-top:3px;
    width:130px;
  }
}

/*login and sign up*/
@media screen and (max-width:1521px){
  #loginreg div#login {
    width: 47%;
  }
}
@media screen and (max-width:1515px) {
  #loginreg div#signup {
    width:64%;
  }
  #loginreg div#forgotpass {
    width: 29%;
  }
}
@media screen and (max-width:1487px){
  #loginreg div#login {
    width: 49%;
  }
}
@media screen and (max-width:1465px) {
  #loginreg div#signup {
    width:66%;
  }
  #loginreg div#forgotpass {
    width: 30%;
  }
}
@media screen and (max-width:1442px) {
  #loginreg div#signup {
    width:67%;
  }
}
@media screen and (max-width:1427px){
  #loginreg div#login {
    width: 51%;
  }
}
@media screen and (max-width:1414px){
  #loginreg div#forgotpass {
    width: 31%;
  }
}
@media screen and (max-width:1399px) {
  #loginreg div#signup {
    width:69%;
  }
  #loginreg div#login {
    width: 53%;
  }
}
@media screen and (max-width:1368px){
  #loginreg div#forgotpass {
    width: 32%;
  }
}
@media screen and (max-width:1357px) {
  #loginreg div#signup {
    width:71%;
  }
}
@media screen and (max-width:1325px) {
  #loginreg div#signup {
    width:74%;
  }
  #loginreg div#login {
    width: 55%;
  }
  #loginreg div#forgotpass {
    width: 33%;
  }
}
@media screen and (max-width:1285px) {
  #loginreg div#signup {
    width:76%;
  }
  #loginreg div#forgotpass {
    width: 34%;
  }
}
@media screen and (max-width:1271px) {
  #loginreg div#login {
    width: 57%;
  }
}
@media screen and (max-width:1248px) {
  #loginreg div#forgotpass {
    width: 35%;
  }
}
@media screen and (max-width:1233px) {
  #loginreg div#signup {
    width:78%;
  }
}
@media screen and (max-width:1228px) {
  #loginreg div#login {
    width: 59%;
  }
}
@media screen and (max-width:1211px) {
  #loginreg div#forgotpass {
    width: 36%;
  }
}
@media screen and (max-width:1202px) {
  #loginreg div#signup {
    width:80%;
  }
}
@media screen and (max-width:1185px) {
  #loginreg div#login {
    width: 61%;
  }
}
@media screen and (max-width:1178px) {
  #loginreg div#forgotpass {
    width: 37%;
  }
}
@media screen and (max-width:1172px) {
  #loginreg div#signup {
    width:82%;
  }
}
@media screen and (max-width:1148px) {
  #loginreg div#signup {
    width:84%;
  }
  #loginreg div#login {
    width: 63%;
  }
  #loginreg div#forgotpass {
    width: 38%;
  }
}
@media screen and (max-width:1119px) {
  #loginreg div#signup {
    width:88%;
  }
  #loginreg div#forgotpass {
    width: 39%;
  }
}
@media screen and (max-width:1110px) {
  #loginreg div#login {
    width: 66%;
  }
  #loginreg div#signup {
    width:89%;
  }
  #loginreg div#forgotpass {
    width: 39%;
  }
}
@media screen and (max-width:1087px) {
  #loginreg div#forgotpass {
    width: 40%;
  }
}
@media screen and (max-width:1078px) {
  #loginreg div#login {
    width: 67%;
  }
  #footer div, #mainfooter div {
    padding-right: 11px;
  }
}
@media screen and (max-width:1065px) {
  #loginreg div#signup {
    width:90%;
  }
}
@media screen and (max-width:1060px) {
  #loginreg div#forgotpass {
    width: 41%;
  }
}
@media screen and (max-width:1054px) {
  #footer div, #mainfooter div {
    padding-right: 10px;
  }
}
@media screen and (max-width:1044px) {
  #loginreg div#signup {
    width:92%;
  }
  #loginreg div#login {
    width: 69%;
  }
}
@media screen and (max-width:1035px) {
  #loginreg div#forgotpass {
    width: 42%;
  }
}
@media screen and (max-width:1021px) {
  #loginreg div#signup {
    width:94%;
  }
}
@media screen and (max-width:1015px) {
  #loginreg div#login {
    width: 71%;
  }
  #logsign {
    padding-right: 5px;
  }
  #loginreg div#forgotpass {
    width: 43%;
  }
}
@media screen and (max-width: 1004px) {
  #footer div, #mainfooter div {
    padding-right: 9px;
  }
}
@media screen and (max-width:1000px) {
  #loginreg {
    position: absolute;
    /*bottom: 0px;*/
    z-index: 999;
    width: 100%;
    padding: 0px;
    height: 100%;
    overflow: auto;
  }
  #loginreg div#signup div,
  #loginreg div#signup input,
  #loginreg div#signup select,
  #loginreg div#signup button.btn-bnb,
  #loginreg div#login div,
  #loginreg div#login input,
  #loginreg div#login button.btn-bnb {
    width:100%!important;
  }
  #loginreg div#signup input,
  #loginreg div#signup select,
  #loginreg div#signup button.btn-bnb,
  #loginreg div#login input,
  #loginreg div#login button.btn-bnb {
    margin: 5px 0px;
  }
  #loginreg div#login {
    width:30%;
    position: relative;
    /*top: 5%;*/
    top: 0%;
    transform: translateY(48%);
    margin-bottom: 35%;
  }
  #loginreg div#signup {
    transform: translateY(18%);
    margin-bottom: 20%;
    width: 40%;
  }
  #loginreg h3 {
    margin:0px;
  }
  #loginreg h3 .close {
    display: block !important;
    width: auto !important;
    top: -14px;
    right: 15px;
  }
  #signup .col-sm-10,
  #login .col-sm-10 {
    margin:0px;
  }
  #signup .progress2 {
    display: block!important;
    border-radius: 6px;
  }
  #signup .progress,
  #loginreg .col-sm-10 > .close {
    display: none;
  }
  .progress {
    margin-bottom: 45px;
  }
  #loginreg .col-sm-10 .btn.btn-link.left {
    padding-left: 0px;
  }
  #loginreg .col-sm-12 p,
  #loginreg .col-sm-8 p {
    text-align: center;
  }
  #loginreg div#forgotpass {
    display: none;
  }
}
@media screen and (max-width:964px) {
  #loginreg div#signup,
  #loginreg div#login {
    width:35%;
  }
}
@media screen and (max-width:952px) {
  #footer div, #mainfooter div {
    padding-right: 6px;
  }
}
@media screen and (max-width:917px) {
  #footer div, #mainfooter div {
    padding-right: 4px;
  }
}
@media screen and (max-width: 884px){
  #footer .social-m-container,
  #footer .social-m-container {
    width:auto;
    padding: 0px;
  }
  #footer .social-m-container .social-m,
  #footer .social-m-container .social-m {
    float: left;
    width: auto;
    padding: 20px 10px 0px 10px;
  }
  #footer .social-m-container .social-m .story-social, #footer .social-m-container .social-m .social-btn-o {
    height: 32px;
    width: 32px;
  }
}
@media screen and (max-width:815px) {
  #loginreg div#signup,
  #loginreg div#login {
    width:40%;
  }
}
@media screen and (max-width:715px) {
  #loginreg div#signup,
  #loginreg div#login {
    width:45%;
  }
}
@media screen and (max-width:588px) {
  #loginreg div#signup,
  #loginreg div#login {
    width:50%;
  }
}
@media screen and (max-width:500px) {
  #loginreg div#signup,
  #loginreg div#login {
    width:60%;
  }
}
@media screen and (max-width:410px) {
  #loginreg div#signup,
  #loginreg div#login {
    width:70%;
  }
}
@media screen and (max-width:355px) {
  #loginreg div#signup,
  #loginreg div#login {
    width:85%;
  }
}
.red {
  color: red;
  margin-top: 10px;
}
