/*Bnb Css llarenasjanrainier@gmail.com*/

.searchcenterform > .overlay,
.searchcenterform > .loading-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.searchcenterform .overlay{
   z-index: 50;
   background: rgba(255, 255, 255, 0.7);
   border-radius: 3px;
 }
.searchcenterform .overlay > .fa{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
 }
.searchcenterform .overlay.dark{
   background: rgba(0, 0, 0, 0.5);
}

/*=============================================================*/
.dv-share-story > .overlay,
.dv-share-story > .loading-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dv-share-story > .overlay{
   background: rgba(255, 255, 255, 0.7);
   border-radius: 3px;
 }
.dv-share-story .overlay > .fa{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
 }
.dv-share-story .overlay.dark{
   background: rgba(0, 0, 0, 0.5);
}

/*=============================================================*/

.paypalbuttoncontainer > .overlay,
.paypalbuttoncontainer > .loading-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.paypalbuttoncontainer .overlay{
   z-index: 50;
   background: rgba(255, 255, 255, 0.7);
   border-radius: 3px;
 }
.paypalbuttoncontainer .overlay > .fa{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
 }

 /*=============================================================*/

.tryaclasspaymentform > .overlay,
.tryaclasspaymentform > .loading-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tryaclasspaymentform .overlay{
   z-index: 50;
   background: rgba(255, 255, 255, 0.7);
   border-radius: 3px;
 }
.tryaclasspaymentform .overlay > .fa{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
 }
