@font-face {
    font-family: 'Helvetica Light Oblique';
    src: url('/fonts/Helvetica-LightOblique.otf');
}
@font-face {
    font-family: 'Helvetica Neue Light Italic';
    src: url('/fonts/HelveticaNeue-LightItalic.otf');
}
@font-face {
    font-family: 'Helvetica Bold';
    src: url('/fonts/Helvetica-Bold.otf');
}
.modal-backdrop { background:none; }
.bl {display:block;}
.in-bl, .inbl {display:inline-block!important;}
.nopad { padding:0!important; }
.col-pad-y { padding:0 15px; }
.wrapper-sm, .pad-sm { padding:15px; }
.wrapper-sm-vw { padding:1vw; }
.wrapper-md { padding:30px; }     .wrapper-md-vw { padding:1.875vw; }
/*.wrapper-lg { padding:80px 5vw; } dati */
.wrapper-lg { padding:60px 5vw; }
.wrapper-lg-vw { padding:5vw 6vw; }
.wrapper-lg-y { padding:0 80px; } .wrapper-lg-y-vw { padding:0 5vw; }
.wrapper-md-y { padding:0 40px; }
.wrapper-sm-x, .pd-sm-v { padding:16px 0; }
.wrapper-sm-x-vw { padding:1vw 0; }
.wrapper-md-x { padding:40px 0; } .wrapper-md-x-vw { padding:2.5vw 0; }
.wrapper-lg-x { padding:80px 0; } .wrapper-lg-x-vw { padding:5vw 0; }
.wrapper-sm-t { padding:15px 0 0 0; }
.wrapper-md-t { padding:30px 0 0 0; } .wrapper-md-b { padding:0 0 30px 0; }
.wrapper-lg-t { padding:80px 0 0 0; }
.wrapper-bot-sm { padding-bottom:15px; }
.wrapper-bot-md { padding-bottom:30px; }
.wrapper-bot-lg { padding-bottom:50px; }
.mg-sm {margin:16px}
.mg-md {margin:32px}
.mg-sm-x, .mg-sm-v {margin:16px 0;}
.mg-md-x {margin:32px 0!important;}
.font-xs { font-size:12px; }
.font-s { font-size:15px; }
.font-md { font-size:20px !important; }
.font-bold { font-weight:bold; }
.txt-c { text-align:center; }
.txt-l { text-align:left; }
.txt-r { text-align:right; }
.txt-j { text-align:justify; }
.valign-t { vertical-align: top; }
.valign-m { vertical-align: middle; }
.valign-b { vertical-align: bottom; }
.btn-orange { background:#f15c22; color:white; }
.btn-orange:hover { webkit-filter:brightness(105%); filter:brightness(105%); color:white }
.orange { color:#f15c22!important; }
.pg-col { padding:30px 30px 0 30px; }
.mv { display:none!important; }
.w-cp { width:326px; }
.w-sm {width:200px; }
.fl {border-radius:0;}
.i { font-style:italic; }
.a-blue, .a-blue:visited, .a-blue:active { color:#00adbb; text-decoration:none; }
.a-blue:hover { color:#f15c22; text-decoration:none; }
.text-up { text-transform: uppercase; }
.pointer, ul.lipointer li { cursor:pointer; }
.br { border:1px solid red; }
.auto-flow { overflow:auto; }
.icon-lg { height:120px; width:120px; }
.icon-lg-wr { min-width:150px; }
textarea.rz-x { resize:vertical; }
div.sc-btn { display:inline-block; }
div.sc-btn a { position:relative; top:5px; font-size:35px; padding: 0 20px 0 0;}
div.sc-btn a span { color:#bababa!important; }
div.sc-btn a span:hover { color:#F15C22!important; }
hr {margin:0;}
hr.dr1 { height:1px; border:0; background:#ccc; }
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
ul li.active, ul li.active a {
  color:#333;
}
.activepage, .activetext {
  font-weight:bold;
  color:#333!important;
}
.tc {
  vertical-align:middle;
  display:table-cell;
  width:inherit;
}
.bg-img-center {
  background-size:cover!important;
  background-repeat:no-repeat!important;
  background-position:center center!important;
  position:relative;
}
input.search {
  background: url('/img/search.png') no-repeat right #fff;
  padding-right:30px;
  box-sizing: border-box;
  width:220px;
}
.styled-select1 {
  display:inline-block;
  overflow: hidden;
  background: url('/img/pages/contactus/v.png') no-repeat right #fff;
  min-width: 151px;
  /*width: 160px;*/
  border:1px solid #bababa;
}
.styled-select1 select {
  background: transparent;
  min-width:168px;
  /*width:100%;*/
  font-size: 16px;
  /*line-height: 1;*/
  border: 0;
  border:none;
  border-radius: 0;
  height: 25px;
  -webkit-appearance: none;
  /*box-sizing: border-box;*/
  /*text-align:left;*/
  outline:none;
  overflow:hidden;
}
.styled-select2 {
  overflow: hidden;
  background: url('/img/pages/contactus/v.png') no-repeat right #fff;
  min-width: 151px;
  max-width:250px;
  /*border:1px solid #cbcbcb;*/
  margin:0 auto;
  overflow:hidden;
}
.styled-select2 select {
  display:inline-block;
  background: transparent;
  width:265px;
  font-size: 16px;
  border: 0;
  border:none;
  border-radius: 0;
  height: 25px;
  -webkit-appearance: none;
  outline:none;
  overflow:hidden;
  padding-right:20px;
  overflow:hidden;
}
.cu-state, .cu-center {
  padding:0!important;
}
.schedulemobile .SCHEDULE {
 font-weight:bold;
 color:white;
 font-size:50px;
 margin:-35px 0 -20px -2px;
}
.x-contactus, .x-centerevents {
  position:relative; top:-10px;
  cursor:pointer
}
.pg-banner {
  height: 31.25vw;
  background-size:cover!important;
  background-repeat:no-repeat!important;
  background-position:center center!important;
  position:relative;
}
  .pg-banner img.wide {
    height: 100%;
    width: auto;
  }
  .pg-banner img.tall {
    width: 100%;
    height: auto;
  }

.pg-title {
  position:relative; top:19px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 50px;
}

.pg-mini-title {
  font-size: 14pt;
  font-weight: 600;
  margin-bottom:10px;
}

.story-list-a, .story-list-a:hover, .story-list-a:visited { color:#333; }
.story-list-subject {
  font-size: 14pt;
  font-weight: 600;
  margin-bottom:10px;
}
.story-list-author {
  font-size: 14pt;
  font-weight:lighter;
  font-style:italic;
  margin-bottom:10px;
}
.story-social, .social-btn-o {
  height:30px; width:30px;
  border-radius: 50%;
}
.si-fb {
  -webkit-filter:brightness(210%) grayscale(100%);
  filter:brightness(210%) grayscale(100%);
}
.si-go {
  -webkit-filter:brightness(200%) grayscale(100%);
  filter:brightness(200%) grayscale(100%);
}
.si-tw {
  -webkit-filter: brightness(130%) grayscale(100%);
  filter: brightness(130%) grayscale(100%);
}
.si-pi {
  -webkit-filter:brightness(250%) grayscale(100%);
  filter:brightness(250%) grayscale(100%);
}
.si-ye {
  -webkit-filter:brightness(200%) grayscale(100%);
  filter:brightness(200%) grayscale(100%);
}
.story-social:hover, .social-btn-o:hover {
  -webkit-filter:grayscale(0);
  filter:grayscale(0);
}

.pg-p {
  font-size:16px!important;
  line-height: 32px;
}
.pg-p-md {
  line-height:21pt;
  font-size:19px;
}
div.affiliates-logo { height:160px; }
.dl-brochure, .ws-brochure {
  font-family: 'Helvetica Light Oblique';
  font-weight:100;
  font-size:16px;
  margin-bottom:10px;
}
  .dl-brochure, .ws-brochure img { margin-right: 7px; }

input.search-ttml {
  display:inline-block!important;
  border-radius:2px;
  margin-right:30px;
}

.col-ttml-content, .story-sss-content { margin:0 5vw 50px 0; padding-left:50px; overflow:auto; }

.container-img-ttml { min-width:270px;}
div.img-ttml {
  background-color: #dcdcdc;
  background-size:cover!important;
  background-repeat:no-repeat!important;
  background-position:center center!important;
  position:relative;
  width:240px; height:240px;
  margin:auto;
  border-radius:50%;
  overflow:hidden!important;
}
div.img-ttml img {
  width:100%;
}
.p-ttml, .pg-p-details {
  line-height:21pt;
  font-size:19px;
  color:#474747;
}
.story-pagination { display:inline-block; }
.story-pagination-mv { display:none; }

.a-contactus { cursor:pointer; }
.a-contactus:hover { color:#333; }
.dv-contactus {
  box-sizing: border-box;
  color:#333;
  background:white;
  text-align:center;
  padding:25px;
  border-radius:7px;
  z-index:4;
  word-wrap: break-word;
}
.dv-contactus .visitcenter {
  position:relative; top:-30px;
  font-size:12px; cursor:pointer;
}

#workshops .workshopstate, #workshops .titlesection {
  font-weight:bold;
  font-size:32px;
}
.centersearchform .form-group div {
  padding-bottom:30px;
}
.centersearchform label {
  padding:0;
  color:#bababa;
  font-size:18px;
  font-weight:lighter;
}

.centersearchresult .centerlist {
  margin-bottom: 15px;
  cursor:pointer;
  width:auto;
}

.centerlist span.first {
  margin-left:10px;
  font-size:18px!important;
}

.gthanArrow {
  background: url('/img/arrows.png') 0px 0px;
  background-size: 17px 70px;
  background-repeat:no-repeat;
  width: 17px;
  height: 23px;
  padding-left:18px;
  font-size:17px;
  font-weight:bold;
}
.gthanArrow:hover {
  background: url('/img/arrows.png') no-repeat 0 -47px;
}
.story-sss-wrapper {
  padding: 3vw 5vw 0 5vw;
  position:relative;
  overflow:hidden;
}
.story-sss-content {
  padding:0 0 0 50px;
}
a.share-story { margin-right:30px; }

div.terms h4 { font-weight:bold; }
div.privacy h4 { font-weight:bold; }
div.privacy table { color: #00adbb; }
div.privacy table tr { cursor:pointer; }

.press-date { display:inline-block; }

@media screen and (max-width:900px) {
  .story-sss-wrapper {
    padding: 0!important;
  }
  .story-sss-content {
    position:relative;
    top:-11px;
    margin:-50px auto 0 auto!important;
    padding:0;
    text-align:center;
    border:1px solid white; /* solution if hidden */
  }
  .spacer { min-height:50px; }
}
@media screen and (max-width:767px) {
  .mgn-sm-mv { margin-top:16px; }
  .mv-c {text-align:center}
  .fv { display:none!important; }
  .mv { display:inline-block!important; }
  .pg-banner { height: 50vw;}
  .pg-title { display:none; }
  div.affiliates-logo {
    display:block;
    height:inherit;
    margin-bottom:20px;
  }
  input.search-ttml { margin-right:0; }
  .story-sss-content {
    position:relative;
    margin:0 auto!important;
  }
  .col-ttml-content { margin:30px 0 30px 0; padding-left:0; }
  .story-sss-content { padding:0 15px; }
  .container-img-ttml { min-width:100%; }
  div.sc-btn { width:100%; text-align:center}
  div.sc-btn a { padding: 0 30px; }
  div.press-sc-btn { text-align:center; }
  div.press-sc-btn a { padding-right:30px; }

  .centersearchform .form-group div {
    padding-bottom:15px;
  }

  .dv-contactus .styled-select1, .dv-contactus .styled-select1 select {
    width:100%;
  }
  .styled-select1 select {
    max-width:100%;
  }
  .story-pagination { display:none!important; }
  .story-pagination-mv { display:inline-block; }

  .press-date { display:block; font-size: 16px; }

}
@media screen and (max-width:545px) {
  .dv-btn-share-story { width:100%; }
  a.share-story, a.share-story1, input.search-ttml { width:100%!important; margin:5px 0!important; }
  .img-ttml { width:220px; height:220px; }

}
@media screen and (max-width:500px) {
  .pg-banner { height: 60vw;}
  div.sc-btn a { padding: 0 12px; }
}
@media screen and (max-width:400px) {
  .wrapper-lg { padding:50px 5vw; }
  .w-cp { width:100%!important; }
  .story-pagination-mv, .active_page {
    font-size:11px!important; /* important because the class ".active_page" is an important span -nu77 */
  }
}
@media screen and (max-width:350px) {
  .styled-select2 select {
    width:108%;
  }
}

/*-null*/

.prod-view div.img-lg {
  border-right:1px solid #ddd;
  text-align:center;
  overflow:hidden;
}
.prod-view div.img-lg img {
  height:33vw; width:auto;
}
.prod-view .name { font-size:30px; margin-bottom:20px; }
.prod-view .price { font-size:25px; }
.prod-view div.img-sm {
  padding-top:30px;
  padding-bottom:30px;
}
.prod-view div.img-sm div.shell {
  display:inline-block;
  width:100px; height:100px;
  border:1px solid #ddd;
  margin:5px 5px 0 0;
  padding:5px;
  overflow:hidden;
}
.prod-view div.img-sm div.shell img {
  height:100%;
  width:auto;
}
@media screen and (max-width:767px) {
  .prod-view .name { font-size:22px; margin-bottom:0; }
  .prod-view .price { font-size:25px; font-weight:bold; }
}
@media screen and (max-width:600px) { .prod-view div.img-lg img { height:45vw; } }
@media screen and (max-width:500px) { .prod-view div.img-lg img { height:50vw; } }
@media screen and (max-width:500px) { .prod-view div.img-lg img { height:60vw; } }

/*location datepicker*/
.datepicker .btn-info.active,
.datepicker .btn-info:active,
.datepicker .btn-default.active,
.datepicker .btn-default:active {
  background-color: #F15C22;
  border-radius: 100%;
  padding: 6px;
}

.datepicker .btn-info.active > span,
.datepicker .btn-info:active > span,
.datepicker .btn-default.active > span,
.datepicker .btn-default:active > span {
  color: rgb(255, 255, 255)!important;
}

.schedulenormal center {
  width: 68%;
  display: block;
  margin: auto;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* Safari only override */
  .styled-select1 select {
    text-indent: 25px;
  }
}

.styled-select1 select {
  width: 176px\0;
  width: 176px\9;
}

/*.schedulenormal .item:first-child,
.centermembership .item:first-child {
  padding-bottom: 0px;
}*/

.schedulenormal .item:first-child h1,
.centermembership .item:first-child h1 {
  position:absolute;
  /*top:1px;*/
  margin-bottom: -.5px;
  margin-left: -23px;
  color: rgb(220, 220, 220);
  font-weight: bold;
  line-height: 28px;
  bottom: 0px;
}

/*location select*/
.loc-select {
  overflow: hidden;
  background: #f7f7f7 url("/img/pages/contactus/v.png") no-repeat scroll right center;
  width: 150px;
  margin: auto;
  font-size: 14pt;
  text-align: left;
}

.selectoptions {
  position:absolute;
  width:100%;
  padding: 20px 135px 30px;
  background:#f7f7f7;
  border-bottom: 2px #e6e6e6 solid;
  z-index:1;
}

.selectoptions a {
  color: #444;
}

.selectoptions a:hover,
.selectoptions a:focus,
.selectoptions a:visited {
  text-decoration: none;
}

.selectoptions .col {
  font-size: 14pt;
  width: 20%;
  padding: 0px 15px;
  float: left;
}

.selectrow {
  width: 100%;
  padding: 25px 0px;
  text-indent: 20%;
}

.selectoptions.mobile {
  display: none;
  max-height: 379px;
  overflow: hidden;
  padding-bottom: 16px;
}

.selectoptions.mobile .states {
  padding-top:10px;
  padding-bottom:10px;
  font-size: 16px;
}

.selectoptions.mobile button {
  background-color: transparent;
  border: none;
  width: 31px;
  height: 15px;
  position: absolute;
}

.selectoptions.mobile .col-xs-2 > div {
  height: 328px;
}

.selectoptions.mobile button.down {
  background-image: url('/img/pages/contactus/v.png');
  bottom: 14px;
  right: 20px;
}
.selectoptions.mobile button.up {
  background-image: url('/img/pages/contactus/v.png');
  top: 14px;
  right: 20px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.selectoptions.mobile .scroller {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 10%;
  top: 0px;
}

.selectoptions.mobile .states {
  color:#BABABA;
}

.selectoptions.mobile .states:hover{
  color:#000;
}

/*location dropdown*/
@media screen and (max-width:1414px) {
  .selectrow {
    font-size: 17px;
  }
}
@media screen and (max-width:1314px) {
  .selectrow {
    font-size: 15px;
  }
}
@media screen and (max-width:1314px) {
  .selectoptions {
    padding: 20px 78px 30px;
  }
  .selectrow {
    text-indent: 14%;
  }
}
@media screen and (max-width:1103px) {
  .selectoptions {
    padding: 20px 64px 30px;
  }
  .selectrow {
    text-indent: 17%;
  }
}

@media screen and (max-width:1035px) {
  .selectoptions {
    padding: 20px 43px 30px;
  }
}

@media screen and (max-width:996px) {
  .selectoptions {
    display: none;
  }
  .selectoptions.mobile {
    display: block;
  }
}

.center-sec {
  background:#00adbb;
  height:60px;
  text-align:center;
  font-size:20px;
  padding:15px 0 0 0;
  color:#fff;
  text-decoration: none;
}

.center-sec:hover,
.center-sec:focus,
.center-sec:visited {
  text-decoration: none;
}

.center-swiper .swiper-wrapper .swiper-slide {
  opacity: 0.5;
}

.center-swiper .swiper-wrapper .swiper-slide-next {
  opacity: 1;
}

@media screen and (max-width: 940px){
  .center-swiper .swiper-wrapper .swiper-slide {
    opacity:1;
  }
}
