/*Bnb Css llarenasjanrainier@gmail.com*/
@media print {

body
{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 11pt;
    background-color: #FAFAFA;
}

p ,span{
    font-family: 'Helvetica', 'Arial', sans-serif !important;
    color: #444444 !important;
    font-size: 11pt !important;
}
.successcentermap{
  height: 350px !important;
  width: 100% !important;
}
#map {
  height:100% important;
  width: 100% important;
}
#map div.gm-style-cc {
  display: none;
}
#map_canvas {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 !important;
}


.successcontainer{
  padding: 10px;
}

.successcontainer .graybordercontainer{
  border: solid 10px #ddd;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.successcontainer .graybordercontainer .bigcyan{
  color: #00AFBC !important;
  font-size: 20pt !important;
  margin-top: 40px;
}

.successcontainer .graybordercontainer .orangetext{
  color: #f15c22 !important;
  font-size: 12pt !important;
}

.successcontainer .successbnblogo{
  float: right;
  width: 224px;
}
.successcontainer .graybordercontainer .deartxt{
   color: #00AFBC !important;
   font-size: 20pt !important;
   margin-top: 0px;
}
.successcontainer .graybordercontainer .graytxt{
   font-size: 12pt !important;
}
.successcontainer .graybordercontainer .nametxt{
   color: #444 !important;
   font-size: 20pt !important;
   margin-top: 20px;
}


#non-printable { display: none!important; }
#printable { display: block!important; }

}