.prod-list .prod-ld {
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  padding:20px 35px;
  background-color: #fff;
}
  .prod-list .prod-ld .dv-prod-img {
    height:17.5vw;
    text-align:center
  }
    .dv-prod-img img {
      height:100%;
      width:auto;
      max-width:100%;
    }
  .prod-list .prod-ld .prod-name {
    margin:10px 0;
    font-size:19px;
    font-weight:bold;
  }
  .prod-list .prod-ld a:hover {
    color:#444;
  }
  .prod-list .prod-ld .prod-price {
    font-size:19px;
    color:#444
  }
  .prod-list .prod-ld .prod-type {
    font-size:15px;
    font-style:italic;
    color:#777;
  }
  .prod-list .prod-ld .prod-type.dm {
    color:#00adbb;
  }
  .prod-rating {
    color: #f15c22;
  }
  .prod-btn {
    width: 30%;
    margin: auto;
    margin-top: 10px;
  }
    span.new { font-style:italic;
      font-size:18px;
      color:#111!important;
    }
@media screen and (max-width:1350px) {
  .prod-list .prod-ld .dv-prod-img {
    height:19vw;
  }
}
@media screen and (max-width:1200px) {
  .prod-list .prod-ld .prod-name {
    font-size:15px;
  }
  .prod-list .prod-ld .prod-price {
    font-size:15px;
  }
}
@media screen and (max-width:1150px) {
  .prod-list .prod-ld .dv-prod-img { height:22vw; }
  span.new { font-size:15px; }
}
@media screen and (max-width:767px) {
  .prod-list .prod-ld .dv-prod-img { height:24vw; }
  .prod-list .prod-ld .prod-type {
    /*font-size:1.2vw; */
    display:none;
  }
}
@media screen and (max-width:939px) {
  .shop-swiper .swiper-wrapper .swiper-slide {
    opacity: 1!important;
  }
}
@media screen and (max-width:600px) {
  .prod-list .prod-ld .dv-prod-img { height:35vw; }
}
@media screen and (max-width:500px) {
  .prod-list .prod-ld { width:100%; }
  .prod-list .prod-ld .dv-prod-img { height:40vw; }
}

/* SHOP MENU
Please separate this CSS
dont mix it to others
for faster customization in the future. TY */
.shop-menu-active {
  /*padding-top:35px;*/
  padding: 15px 35px;
  font-size:20px;
  color:#444;
  margin:0 auto;
  cursor:pointer;
}
.shop-menu, .shop-menu-active {
  height:61px;
  text-align:center;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  background-color: #F7F7F7;
}
.shop-menu ul {
  list-style-type:none;
  height:inherit;
  display:inline-block;
  padding:0;
}
.shop-menu ul li {
  display:table-cell;
  height:inherit;
  color:#bababa;
  /*font-size:20px;*/
  font-size: 11pt;
  padding:0 30px;
  vertical-align:middle;
  text-align:center;
  cursor:pointer;
}

.shop-menu ul li a {
  color:#bababa;
  /*font-size:20px;*/
  font-size: 11pt;
}

.shop-menu ul li.active > a,
.shop-menu ul li.active ul li.active > a {
  color: #333!important;
}

.shop-menu ul li.active.focus > div.sub-layer1,
.shop-menu ul li.active.focus > div.sub-layer1 li.active.focus > div.sub-layer2 {
  display: inline-block!important;
}

.shop-menu ul li.active  ul li a{
  color: #BABABA!important;
}

.shop-menu ul li:hover div.sub-layer1,
.shop-menu ul li div.sub-layer1 ul li:hover div.sub-layer2   {
  display:inline-block;
  transition:all ease 1s;
}

.shop-menu ul li div.sub-layer1,
.shop-menu ul li div.sub-layer1 ul li div.sub-layer2 {
  position:absolute;
  left:0;
  /*margin-top:57px;*/
  /*margin-top: 29px;*/
  z-index:99;
  width:100%;
  /*height:90px;*/
  height: 61px;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  /*background:#fff;*/
  background-color: #F7F7F7;
  display:none;
  transition:all ease 1s;
}

.prod-view {
  background-color: #fff;
}

@media screen and (max-width:1066px) {
  .prod-view .name { font-size:22px; margin-bottom:0; }
  .prod-view .price { font-size:25px; font-weight:bold; }
}

@-moz-document url-prefix() {
  .shop-menu ul li div.sub-layer1,
  .shop-menu ul li div.sub-layer1 ul li div.sub-layer2 {
    margin-top: 39px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .shop-menu ul li div.sub-layer1 {
    margin-top: 1.1%;
  }
  .shop-menu ul li div.sub-layer1 ul li div.sub-layer2 {
    margin-top: 1%;
  }
}

@media screen and (min-color-index:0)
   and(-webkit-min-device-pixel-ratio:0) { @media {
    .shop-menu ul li div.sub-layer1,
    .shop-menu ul li div.sub-layer1 ul li div.sub-layer2 { margin-top: 2.05%; }
  }
}

.rs {
  height:auto;
  text-align:center;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
.rs ul {
  width:100%;
  /*border:1px solid #ddd;
  padding-bottom:20px;*/
}
.rs ul li {
  display:block;
  height:50px;
  padding:20px 0;
}
.rs ul li div.sub-layer1{
  position:relative;
  margin-top:0;
  z-index:99;
  width:100%!important;
  height:auto;
}
.rs ul li div.sub-layer1 ul li div.sub-layer2 {
  position:relative;
  margin-top:10px;
  z-index:99;
  width:100%!important;
  height:auto;
}
.rs ul li div.sub-layer1 ul li,
.rs ul li div.sub-layer1 ul li div.sub-layer2  ul li {
  color:#444;
}
/*SHOP MENU ends
Thankyou
-null*/

/* PRODUCT VIEW
Please separate this CSS
dont mix it to others
for faster customization in the future. TY */
.prod-view div.img-lg {
  border-right:1px solid #ddd;
  text-align:center;
  overflow:hidden;
}
.prod-view div.img-lg img {
  height:33vw; width:auto;
}
.prod-view .name { font-size:30px; margin-bottom:20px; }
.prod-view .price { font-size:25px; }
.prod-view div.img-sm {
  padding-top:30px;
  padding-bottom:30px;
}
.prod-view div.img-sm div.shell {
  display:inline-block;
  width:100px; height:100px;
  border:1px solid #ddd;
  margin:5px 5px 0 0;
  padding:5px;
  overflow:hidden;
}
.prod-view div.img-sm div.shell img {
  height:100%;
  width:auto;
}
@media screen and (max-width:767px) {
  .prod-view .name { font-size:22px; margin-bottom:0; }
  .prod-view .price { font-size:25px; font-weight:bold; }
}
@media screen and (max-width:600px) { .prod-view div.img-lg img { height:45vw; } }
@media screen and (max-width:500px) { .prod-view div.img-lg img { height:50vw; } }
@media screen and (max-width:500px) { .prod-view div.img-lg img { height:60vw; } }
/*PRODUCT VIEW ends
Thankyou
-null*/

.hiddenoverflow {
  overflow: hidden;
}

.shell-hover {
  cursor: pointer;
}

.shell-hover:hover {
  box-shadow: 1.5px 1.5px 5px #CCC;
  -moz-box-shadow: 1.5px 1.5px 5px #CCC;
  -webkit-box-shadow: 1.5px 1.5px 5px #CCC;
}

.bag {
  /*width: 1080px;*/
  width: 78%;
  margin: auto;
  margin-top: 3.44rem;
}

.bag table thead {
  font-size: 16px;
  border-bottom: 1px solid #EEE;
}

.bag table td {
  padding: 10px 25px;
}

.bag table tbody tr {
  border-bottom: 1px solid #EEE;
}

.bag table tbody td {
  padding: 30px 25px;
}

.bag td .img {
  width: 20%;
  margin-right: 2%;
}

.bag td .img img{
  width: 100%;
}

.bag td .name {
  width: 78%;
}

.checkout {
  width: 45%;
  margin:auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.checkout label {
  color: #BABABA;
  width: 70%;
  font-weight: normal;
  font-size: 17px;
}

.checkout div {
  overflow: hidden;
}

.checkout .tax > div,
.checkout .shipping > div,
.checkout .total > div {
  width: 30%;
  font-size: 16px;
}

.checkout .tax,
.checkout .shipping {
  margin-bottom: 13px;
}

.checkout .total {
  margin-top: 45px;
  margin-bottom: 45px;
}

.checkout .total div {
  font-size: 19px;
}

#logreg {
  width:30%;
  margin: auto;
  margin-top: 30px;
}

#logreg h3 {
  font-weight: normal;
  margin-top: 35px;
  margin-bottom: 20px;
}

#logreg p {
  font-size: 16px!important;
}

#logreg input {
  /*padding: 16px;*/
  font-size: 17px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#logreg .btn {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 5px 0px;
}

#logreg span.label.label-danger {
  color: #FFF !important;
  font-size: 12px !important;
}

.bag.empty {
  height: 601px;
  position: relative;
}

.bag.empty h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    color:#BABABA;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#checkout header{
  background: #F8F8F8 none repeat scroll 0% 0%;
  height: 45px;
}

#checkout header h5 {
  font-size: 16px;
  color:#CCC;
  margin:13px auto;
  font-weight: 600;
  /*border-bottom: 3px #000 solid;*/
}

.borderbottom {
  border-bottom: 5px solid #000;
  color: #000 !important;
  padding-bottom: 9px;
}

#checkout input,
#checkout select {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #F8F8F8;
  border: 1px solid #EEE;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  font-size: 14px;
  padding: 10px 16px;
  height: 46px;
}

#checkout form .col-sm-5 {
  padding-right: 4px;
  padding-left: 4px;
}

/*#checkout .verify p {
  font-size: 12px!important;
}

#checkout .verify .info {
  margin-bottom: 25px;
}

#checkout .verify .info p{
  font-weight: 700;
  color: #444;
  font-size: 11pt!important;
}*/

#checkout .verify h1 {
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  color: rgb(204, 204, 204);
  font-size:38px;
}

#checkout .verify h4 a{
  margin-top: 30px;
  color: rgb(204, 204, 204);
}

.prod-view .description {
  margin-top: 20px;
}

.prod-view .description p{
  font-size: 16px !important;
  line-height: 1.7;
}

.memberinfo h4 {
  margin-top: 40px;
  font-weight: bold;
}

.memberinfo p {
  font-weight: 600;
}

.memberinfo .btn {
  margin-top: 60px;
}

.verify img {
  width: 100%;
  padding: 5px;
}

.verify .gray,
.gray-text {
  color: rgb(204, 204, 204)!important;
}

.customform .label{
  color: #fff!important;
  font-size: 75%!important;
}

.shop-menu span {
  color: #BABABA!important;
}

.shop-menu .featured {
  color:#000!important;
  font-weight: bold;
}

.imgcont {
  border: 1px solid #DDD;
  margin-bottom: 20px;
  min-height: 160px;
}

.shop-select {
  overflow: hidden;
  background: url('/img/pages/contactus/v.png') no-repeat right #fff;
  border: 1px solid rgb(221, 221, 221);
  width:60px;
  margin-left:10px;
}
.shop-select select {
  background: transparent;
  width:79px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  box-sizing: border-box;
  outline:none;
}

.shop-search {
  position: absolute;
  right: 65px;
  margin-top: 13px;
  color:#BABABA;
}

.shop-search:hover {
  color:#000;
}

.shop-swiper .swiper-wrapper .swiper-slide {
  opacity: 0.5;
}

.shop-swiper .swiper-wrapper .swiper-slide-next {
  opacity: 1;
}

.shop-search-input {
  position: absolute;
  z-index: 999;
  border: medium none;
  width: 447px;
  padding: 10px 20px;
  height: 60px;
  margin-top: -60px;
  right: 0px;
}

.rs>ul>li:first-child {
  display: none;
}

.rs .shop-search {
  display: none;
}

/*membership/workshop/classes*/
.mbrship > .content > div {
  border:1px solid #ddd;
  padding:0px;
}

.mbrship > .content > div .header{
  font-size: 28px;
  padding: 10px 0px;
}

.mbrship > .content > div > div{
  border-top:1px solid #ddd;
}

.mbrship > .content .classes {
  overflow: hidden;
  border-top:1px solid #ddd;
}

.mbrship > .content .classes > div {
  padding-top: 10px;
  padding-bottom: 25px;
  background-color: #f7f7f7;
  min-height: 293px;
}

.mbrship > .content .classes > div:first-child {
  border-right:1px solid #ddd;
}

.mbrship > .content .classes h1 {
  margin-bottom: 5px;
}

.mbrship > .content .classes h3 {
  margin-top: 5px;
}

.mbrship > .content .classes input {
  width:155px;
  margin:auto;
  margin-top:65px;
  margin-bottom: 10px;
}

.mbrship > .content .classes button {
  margin:auto;
  display:block;
}

.wkshops {
  background-color: #f7f7f7;
  padding-bottom: 20px;
}

.eventsched ul.nav > li {
  border: 1px solid #ddd;
  border-radius: 0px;
}

.eventsched .nav-tabs>li.active>a,
.eventsched .nav-tabs>li>a:hover,
.eventsched .nav-tabs>li>a:focus {
  border:none!important;
  cursor: pointer;
}

/*// event schedule*/
.eventsched .nav-tabs>li {
  background: #f7f7f7;
}

.eventsched .nav-tabs>li:hover,
.eventsched .nav-tabs>li:focus {
  background: #eee;
}

.eventsched .nav-tabs>li.active,
.eventsched .nav-tabs>li.active:hover,
.eventsched .nav-tabs>li.active:focus {
  background: #fff;
}
.eventsched .nav-tabs.nav-justified>li>a {
  border: none;
}
.eventsched div.col-sm-12 {
  padding: 7px;
  border-bottom: 1px solid #ddd;
}

.eventsched .calendar {
  width: 20%;
  background: #eee;
  border: 1px solid #ddd;
  padding: 5px;
  line-height: 1.1;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.eventsched .calendar .month {
  font-size:14px;
}

.eventsched .calendar .date {
  font-size:22px;
}

.eventsched .content {
  width: 80%;
  padding-left: 10px;
}

.eventsched .content .info{
  width: 70%;
  float: left;
  padding-right: 5px;
  word-break: break-word;
}

.eventsched .content .info p {
  margin-bottom: 0px;
}

.eventsched .content .info .title{
  font-size: 10.2pt;
}

.eventsched .content .info .center{
  font-size: 8.8pt;
  color:#555;
}

.eventsched .content .btn-cont{
  width: 30%;
  float: left;
}

.eventsched .content .btn-cont button {
  padding: 1px 12px;
}

.eventsched .content .btn-cont p {
  color:#777;
  font-size: 8.8pt;
}

.eventsched .bottom-txt {
  float: left;
  margin-left: 10px;
  position: relative;
  bottom: 0px;
  font-size: 9pt;
}

.eventsched .bottom-txt > a,
.eventsched .bottom-txt > a:hover,
.eventsched .bottom-txt > a:focus {
  color:#777;
}
.shop-secondarynav-mobile {
  display: none;
  border-bottom: 1px solid #ddd;
}
@media screen and (max-width:1069px) {
  .prod-btn {
    width:40%;
  }
  .shop-secondarynav {
    display: none;
  }
  .shop-secondarynav-mobile {
    display: block;
  }
}
@media screen and (max-width:991px) {
  .classes .text-right {
    text-align: center;
  }
  .mbrship > .content .classes > div:first-child {
    border-bottom:1px solid #ddd;
  }
}
@media screen and (max-width:853px) {
  .prod-btn {
    width:40%;
  }
}

.shop-secondarynav-mobile > div.featured,
.shop-secondarynav-mobile > div{
  background-color: #F7F7F7;
  font-size: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
  overflow: hidden;
  color:#444;
}

.shop-secondarynav-mobile > a:last-child > div {
  border-bottom: 1px solid #ddd;
}

.shop-secondarynav-mobile > div a > h4{
  color:#444;
  margin: 25px 0px;
}

.shop-secondarynav-mobile > div a > h4 > i {
  right: 32%;
  position: absolute;
  color: #bababa;
}

.shop-secondarynav-mobile .subcategory {
  overflow: hidden;
  border-top: 1px solid #ddd;
}

.shop-secondarynav-mobile .subcategory a > h4{
  color: #bababa;
}

.shop-secondarynav-mobile .subcategory a > h4.active{
  color:#444;
}

.shop-secondarynav-mobile .shop-search {
  left: 30px;
  right: auto;
  margin-top: 20px;
}

@media screen and (max-width:580px) {
  .shop-secondarynav-mobile > div a > h4 > i {
    right: 28%;
  }
}

@media screen and (max-width:480px) {
  .shop-secondarynav-mobile > div a > h4 > i {
    right: 23%;
  }
}

@media screen and (max-width:380px) {
  .shop-secondarynav-mobile > div a > h4 {
    font-size: 15px;
  }
}
