/*Bnb Css llarenasjanrainier@gmail.com*/
@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica.otf');
}
.body-content span {
  font-family: 'Helvetica' !important;
}
body {
    font-family: 'Helvetica';
    color: #444444;
    font-size: 11pt;
    background-color: #FFFFFF;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
div.ui-datepicker {
  max-width: 100%;
}
.hidden {
  display: none !important;
}
.emerrormessage{ color: red; }
.sel{ background: red; }
.datepicker { margin: 0 5px; }
.datepicker .btn-default {
  border-width: 0;
  box-shadow: none;
  background-image: none !important;
}
.datepicker .btn[disabled] {
  opacity: 0.4;
}
.datepicker .btn-info .text-info {
  color: #fff !important;
}
.datepicker span {
    font-family: 'Helvetica', 'Arial', sans-serif !important;
    color: #444444 !important;
    font-size: 8pt !important;
}
#map {
  height:100%;
}
#map div.gm-style-cc {
  display: none;
}
#map_canvas {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 !important;
}
.strikeout {
  font-size: 18pt;
  line-height: 1em;
  position: relative;
}
.strikeout::after {
  border-bottom: 0.100em solid #444444;
  content: "";
  left: 0;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}
.angular-google-map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.nopadding{
  padding: 0 !important;
  margin: 0 !important;
}
.containerminheight{
  height: 600px !important;
}
.rowminheight{
  height: 600px !important;
}
.fullwithindex {
  position:fixed !important;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.normalnavbar ul li a,
.mobilenavbar ul li a,
.footernormal ul li a,
.footer-mv a
{ color:#bababa!important; }

.normalnavbar ul li a:hover,
.mobilenavbar ul li a:hover,
.footernormal ul li a:hover,
.footer-mv a:hover
{ color:#333!important; }

/*.navheight{
  height: 81px !important;
}*/
.navbar-brand {
  padding: 5px;
}
.navlogo{
  /*height: 81px;*/
  height: auto;
}
.navbar-brand.navlogo img {
  width: 85%;
  margin: auto;
}
.navmobilelogo{
  width: 165px;
  padding: 5px 5px;
}
.navbar-toggle {
  float: left;
  margin-left: 10px !important;
}
.navsmalllogo {
  /*height: 70px;*/
}
.navsmalllogo a {
  padding: 0px !important;
  position:relative;
  top:-5px;
}
.navlistleftpadding{
  padding: 2px 0px 0px;
  /*padding: 18px 0 0 0;*/
}
.navlistrightpadding{
  padding: 3px 30px 0px 0px;
  /*padding: 18px 30px 0 0;*/
}
.btn-tryclass {
  font-size:13px;
  text-decoration:none;
  color: white;
  background: #f15c22 !important;
  border-radius: 5px !important;
  padding:7px 8px;
  margin:8px 5px 0 0;
  display:none;
}
.btn-tryclass:hover {
  text-decoration:none;
  color:white;
  -webkit-filter:brightness(105%);
  transition:all ease .7s;
}

.navtryaclass {
  padding-top: 8px !important;
  padding-bottom: 10px !important;
}
.navtryaclass a {
  background: #f15c22 !important;
  border-radius: 5px !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}
.navtryaclass a span {
  background: #f15c22 !important;
  border-radius: 5px !important;
  padding: 7px 5px !important;
}
.navtryaclass a span:hover {
  background: #f15c22 !important;
}
.loginseparator {
  padding-left: 0px !important;
  padding-right: 0px!important;
}
nav{
  border-radius: 0px !important;
  /*margin-bottom: 1px !important;*/
  margin-bottom: 0px !important;
}

.homemainbanner {
  /*background-color:#bababa;
  height:799px;
  width: 100%;
  background: url('/img/mainbanner.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  overflow: hidden;*/
  /*height: 636px;*/
  height: 686px;
}
.homemobilebanner{ height: 400px; }

.topfooter{
  /*position: absolute;*/
  height: 75px;
  /*bottom: 0px;
  right: 0;
  left: 0;*/
}
.mainfooter {
  z-index:-99999;
}
.footermenu{
  font-size: 11pt;
  font-weight: 400;
  color: #aaaaaa;
  text-align: center;
  padding: 10px;
}
.footersmalllogo{
  float: right;
  height: 81px;
}
.cartlogo{
  position: absolute;
  top: 19px;
  bottom: 0;
  right: 0;
  left: 57px;
}
.cartlogoli{
  width: 90px;
}
.cartlogocount{
  /*position: absolute;
  width: 5px;
  top: 5px;
  bottom: 0;
  right: 0;
  left: 4px;
  color:#fff!important;*/
  position: absolute;
  width: 5px;
  top: 6.5px;
  bottom: 0px;
  right: 0px;
  left: 4.5px;
  color: #FFF !important;
  font-size: 11px !important;
}
.centertitlepadding{ padding: 30px 30px 30px 60px; }
.centertitlepadding .centertitle {
  font-size: 54pt!important;
  font-weight:bold;
  /*margin-top:-14px;*/
  line-height:80px;
  padding-bottom:10px;
}

.centertitlepadding .centerbreadcrumbs {
  font-size: 12pt;
  color: #aaaaaa;
  padding:  0 0 0 0;
  margin: 0 0 0 !important;
}
.centeraddresspadding{
  padding: 30px 60px 30px 30px;
}
.centeraddresspadding .centeraddresstext{
  font-size: 12pt;
  color: #aaaaaa;
  padding: 0 0 10px 0;
}
.centeraddresspadding .centeraddresscontent{
  float: right;
  display: inline-block
}
#centercalendar {
  margin:0 auto;
  width:227px;
}

.schedulenormal div.item,
.centermembership div.item {
  padding:35px 20px;
  border-bottom: 1px solid #ddd;
  border-right:1px solid #ddd;
  box-sizing: border-box;
}

.schedulenormal .schedulelist {
  overflow:hidden;
  /*min-height:355px;*/
}
.container {
  display: flex;
}
.schedulepannel{
  align-items: stretch;
}
.classseparator{
  margin: 20px 0 20px 0;
}
.schedulecolborderright{
  border-right: solid 1px #d8d7d7;
}
.schedulecolborderbottom{
  border-bottom: solid 1px #d8d7d7;
}
.schedulelist .daydate, .schedulelist-mv .daydate {
  font-size: 17pt;
  font-weight: bold;
  text-align:center
}
.schedulelist .daydate { margin:  0 0 5px 0; }
.schedulelist-mv .daydate { margin:  0 0 15px 0; }

.schedulelist .joindirection, .schedulelist-mv .joindirection {
  text-align:center;
  color:#f15c22;
}
.schedulelist .joindirection { margin:  0 0 10px 0; }
.schedulelist-mv .joindirection {   margin:  0 0 20px 0; }

.schedulepannelpadding{
  padding:30px;
}
.classtitle{
 /* font-size: 15pt;
  font-weight: 500;*/
  font-size: 13pt;
  font-weight: bold;
}
.classtime{
  font-size: 12pt;
}
.centernewsheader, .centersectionheader {
  padding:10px 50px;
  font-size: 28px;
  border-top: solid 1px #d8d7d7;
  border-bottom: solid 1px #d8d7d7;
}
.newscontainer, .centersectioncontainer{
  padding: 0 65px;
}
.centermap{
  border-top: solid 1px #d8d7d7;
  border-bottom: solid 1px #d8d7d7;
  height:31.25vw; /* equivalent to 500px ratio -nu77 */
}
.successcentermap{
    height:500px;
}

  .centersectionheader .viewall, .centersectionheader .viewallevents, .centersectionheader .viewallnews  {
    position:relative;
    top:-2px; left:15px;
    font-size:16px;
    cursor:pointer;
  }
  .centerevents span.day { display:block; }
.centernews, .centerevents {
  padding:30px 0;
}
.centernews div.img {
  float:left;
  width: 225px;
  height:136px;
  padding:0 15px;
  overflow:hidden;
}
.centernews div.img img {
  width:100%;
  height:auto;
}
.newstitle {
  font-size: 14pt;
  font-weight: 600;
  padding-left:15px;
  overflow:auto;
}
.newscontent{
  font-size: 12pt;
  margin-top: 10px;
  padding-left:15px;
  overflow:auto;
}
.schedulemobilecontainer{
  /*width: 300px;*/
  width:100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.or-spacer {
  margin-top: 10px;
  margin-bottom: 10px;
  /*margin-left: 100px;*/
  /*width: 400px;*/
  width: 100%;
  position: relative;
}
.or-spacer .mask {
  overflow: hidden;
  height: 20px;
}
.or-spacer .mask:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px black;
}
.or-spacer span {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -25px;
  left: 50%;
  margin-left: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #999;
  background: white;
}
.or-spacer span i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed #aaa;
  text-align: center;
  line-height: 40px;
  font-style: normal;
  color: #999;
}

.or-spacer-vertical {
  display: inline-block;
  margin-top: 100px;
  margin-left: 100px;
  width: 100px;
  position: relative;
}
.or-spacer-vertical .mask {
  overflow: hidden;
  width: 20px;
  height: 200px;
}
.or-spacer-vertical.left .mask:after {
  content: '';
  display: block;
  margin-left: -20px;
  width: 20px;
  height: 100%;
  border-radius: 12px / 125px;
  box-shadow: 0 0 8px black;
}
.or-spacer-vertical.right .mask:before {
  content: '';
  display: block;
  margin-left: 20px;
  width: 20px;
  height: 100%;
  border-radius: 12px / 125px;
  box-shadow: 0 0 8px black;
}

.aboutbanner, .classesbanner, .pagebanner {
  height: 435px;
  background-color:#FFFFFF;
  overflow: hidden;
  position:relative;
}
.tryaclassbanner{
  height: 400px;
  background-color:#bababa;
  overflow: hidden;
}

/*PRESS*/
.presstitle {
  position:relative;
  /*top:8px;*/
  background-color: #f7f7f7;
  color: #BABABA;
  text-align: center;
  font-size: 11pt;
  padding:20px;
}
.pressbanner{
  height: 320px;
  overflow: hidden;
}
.pressinfo{
  /*height: 170px;*/
  /*margin-left: -15px;
  margin-right: -15px;*/
  overflow: hidden;
  color:#444;
}
.pressinoftitle{
  height: 170px;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  float: left;
}
.pressinoftitle h2 {
  text-transform: uppercase;
  font-size:28px;
}
.pressinoftitle h3 {
  margin-top: 5px;
  font-size:19px;
}

.pressinoftitle > div:first-child {
  float: left;
  /*min-width: 150px;*/
  width: 30%;
  height: 100%;
}

.pressinoftitle > div:first-child > img {
  width: 80%;
  position: relative;
  top: 39%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}


.press-read-img {
 float:left;
}

.press-read-title {
 /*position: absolute;*/
 /*top: 65%;*/
 /*margin-top: 20px;*/
 /*left: 200px;*/
 /*float: left;*/
 position:relative;
 /*text-transform: uppercase;*/
}

.presslogo-container {
  width: 120px;
  height: 100px;
  float: left!important;
  margin-right: 20px;
}

.presslogo-container > img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.press-read-cont {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  display:block;
  width:100%;
  /*float:left;*/
}

.back-press{
  font-style: italic;
  margin: 20px 0px;
  color: #bababa!important;
  float: left;
}

.back-press:hover {
  text-decoration: none;
}

/*END PRESS*/
.aboutheader {
  position: absolute;
  bottom: -15px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 30pt;
  z-index: 999999;
  left: 100px;
}
.pageheader {
  position: absolute;
  bottom: -15px;
  font-family:"Helvetica Bold";
  font-size: 30pt;
  color: #FFFFFF;
  /*z-index: 999999;*/
  z-index:7;
  left:6vw;
}
.classesheader{
  position: absolute;
  bottom: -15px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 30pt;
  z-index: 999999;
  left: 100px;
}
.tryaclassbanner .tryaclassheader{
  position: absolute;
  bottom: -15px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 30pt;
  z-index: 9;
  left:5vw;
}
.aboutcontentcontainer{
  padding: 50px;
}
.classescontentcontainer{
  padding: 40px;
}
.tryaclasscolcontainerone, .tryaclasscolcontainergroup{
  /*padding: 40px;*/
  padding:5vw;
}
.aboutcontentcontainer .aboutcontenttitle, .aboutcontenttitle {
  font-size: 14pt;
  font-weight: 600;
  padding-bottom:10px;
}
.aboutcontentcontainer .aboutcontentbody{
  font-size: 12pt;
  margin-top: 10px;
  line-height:32px;
}
.classescontentcontainer .classescontentbody{
  font-size: 12pt;
  margin-top: 10px;
  line-height: 30px;
}
.aboutcontentcontainer .aboutcolcontainer{
  padding: 30px;
}
.classescontentcontainer .classescolcontainer{
  padding: 30px;
}
.secondarynav, .bnbbuzzsecondarynav {
  background:#f7f7f7;
  text-align: center;
  border-bottom: solid 1px #ededed;
}
.secondarynav ul, .bnbbuzzsecondarynav ul{
  margin:0px !important;
}
.locationsecondarynav {
  background:#f7f7f7;
  padding:15px;
  text-align: center;
  margin:0;
  border-bottom: 2px #e6e6e6 solid;
}
.locationsecondarynav a {
  color:#444;
}
.locationsecondarynav a:hover,
.locationsecondarynav a:focus,
.locationsecondarynav a:visited {
  text-decoration: none;
}
.secondarynav ul li{
  list-style: none;
  display: inline-block;
  padding: 20px 70px;
  color: #bababa;
}
.bnbbuzzsecondarynav ul li {
  list-style: none;
  display: inline-block;
  padding: 20px 40px;
  color: #bababa;
}
.secondarynav ul li:hover, .bnbbuzzsecondarynav ul li:hover {
  text-decoration: none;
}
.secondarynav ul .active, .bnbbuzzsecondarynav ul .active {
  color: #000000;
  font-weight:bold;
}
.secondarynav ul li a, .bnbbuzzsecondarynav ul li a{
  font-size: 11pt;
  color: #bababa;
}
.secondarynav ul li a:hover, .bnbbuzzsecondarynav ul li a:hover{
  text-decoration: none;
  color: #000000;
}
.locationsecondarynav ul{
  margin-bottom: 0px !important;
}
.dropdown-toggle{
  width: 100%
}
.locationsecondarynav ul li{
  list-style: none;
  display: inline-block;
  padding: 10px;
  width: 100%;
}
.centerdropdown{
  width: 300px;
}
.locationsecondarynav ul li a{
  font-size: 13pt;
  color: #bababa;
}
.locationsecondarynav ul li a:hover{
  text-decoration: none;
  color: #000000;
}
.secondarynavdropdown ul {
  width:100%;
  text-align:center;
}
.secondarynavdropdown ul li.dropdown {
  width:100%;
}
.secondarynavmobile{
  background:#FFFFFF;
  padding: 20px 0;
  text-align: center;
  border-bottom:1px solid #ededed;
}
.dropdown-toggle {
  width: 100%
}
.secondarynavmobile ul li a{
  font-size: 15pt;
  color: #bababa;
}
.secondarynavmobile ul li {
  font-size: 15pt;
  color: #bababa;
}
.secondarynavmobile ul li ul.dropdown-menu {
  border-radius:0;
  border:none;
}
.secondarynavmobile ul li ul.dropdown-menu li {
  padding:5px;
}

.tryaclasstitle {
  font-size: 18pt;
  font-weight: 600;
  margin-bottom: 15px;
  padding-left:15px;
}
.tryaclassdescription {
  font-size: 12pt;
}
.orangebutton{
  background: #f15c22;
  color: #FFFFFF;
}
.tryaclassbtn{
  margin-top: 20px;
}
.tryaclassdisclaimer{
  /*padding: 50px;*/
  padding:0 5vw 5vw 5vw;
  font-style: italic;
}
.tryaclasssearchlocation{
  padding: 40px;
}
.searchcenterform {
  padding:5vw;
}
.searchformheader{
  font-size: 18pt;
  font-weight: 600;
  margin-bottom: 15px;
}
.tac-locresult {
  padding:5vw;
}
.customtextalignleft{
  text-align: left !important;
}
.customtextalignright{
  text-align: right !important;
}
.bababa{
  color: #bababa !important;
}
.searchformdropdown:active, .searchformdropdown:hover {
  outline-color: #f15c22 !important;
}
.tryaclasscenterdetails{
  margin-bottom: 15px;
  padding: 10px;
}

.tryaclassscheduledetails{
  margin-bottom: 15px;
  padding: 10px;
}
.tryaclassscheduledetailsactive{
  background: #eee;
  border-radius: 5px;
}
.tryaclasscenterdetails:hover{
  /*background: #e6e7e8;*/
}
.tryaclasscenterdetails .tryaclasscentertitle{
  font-size: 12pt;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333 !important;
  padding-left: 15px;
}
.tryaclassscheduledetails .tryaclassscheduletitle{
  font-size: 12pt;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333 !important;
  padding-left: 15px;
}
.tryaclassscheduleform{
  margin-bottom: 15px;
}
.tryaclassscheduleform .tryaclassschedulecentertitle{
  font-size: 12pt;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333 !important;
}
.tryaclassscheduleform .tryaclassscheduleclasstitle{
  font-size: 12pt;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333 !important;
  margin-top: 20px;
  padding:0;
}
.tryaclasscenterdetails .tryaclasscenteraddress{
  font-size: 12pt;
  margin-bottom: 5px;
  color: #bababa !important;
}
.tryaclassscheduleform .tryaclassschedulecenteraddress{
  font-size: 12pt;
  margin-bottom: 5px;
  color: #333 !important;
}
.tryaclasscenterdetails .tryaclasscenterphone{
  font-size: 12pt;
  margin-bottom: 5px;
  color: #bababa !important;
}
.tryaclasscenterdetails .tryaclasscenterdetailsarrow{
  background: url('/img/arrows.png') 0px 0px;
  background-size: 17px 70px;
  margin-top: 0px;
  width: 17px;
  height: 23px;
  margin: auto;
  position: absolute;
  top: 8px;
  left: 5px
}
.tryaclasscenterdetails:hover .tryaclasscenterdetailsarrow{
  background: url('/img/arrows.png') 0px 23px;
  background-size: 17px 70px;
  margin-top: 0px;
  width: 17px;
  height: 23px;
  margin: auto;
  position: absolute;
  top: 8px;
  left: 5px
}
.tryaclassscheduledetails .tryaclassscheduledetailsarrow{
  background: url('/img/arrows.png') 0px 0px;
  background-size: 17px 70px;
  margin-top: 0px;
  width: 17px;
  height: 23px;
  margin: auto;
  position: absolute;
  top: 8px;
  left: 5px
}
.tryaclassscheduledetails:hover .tryaclassscheduledetailsarrow{
  background: url('/img/arrows.png') 0px 23px;
  background-size: 17px 70px;
  margin-top: 0px;
  width: 17px;
  height: 23px;
  margin: auto;
  position: absolute;
  top: 8px;
  left: 5px
}
.tryaclassscheduledetailsarrowactive
{
  background: url('/img/arrows.png') 0px 23px;
  background-size: 17px 70px;
  margin-top: 0px;
  width: 17px;
  height: 23px;
  margin: auto;
  position: absolute;
  top: 8px;
  left: 5px
}
.tryaclassscheduleform .tryaclassschedulecenterphone{
  font-size: 12pt;
  margin-bottom: 20px;
  color: #333 !important;
}
.tryaclassscenterlink{
  text-decoration: none;
}
.tryaclassscenterlink:hover{
  text-decoration: none;
}
.tryaclasssschedulelink{
  text-decoration: none;
}
.tryaclasssschedulelink:hover{
  text-decoration: none;
}
.tryaclasspaymentmethod{
  /*padding: 40px;*/
  padding:5vw;
}
.tryaclassschedule{
  /*padding: 40px;*/
  padding:5vw;
}
.tryaclasspaymentmethodheader{
  font-size: 18pt;
  font-weight: 600;
  margin-bottom: 15px;
}
.tryaclassscheduleheader{
  font-size: 18pt;
  font-weight: 600;
  margin-bottom: 15px;
}
.tryaclasspaymentmethodtype a{
  font-size: 48pt;
  color: #bababa !important;
}
.tryaclasspaymentmethodtype a:hover{
  color: #f15c22 !important;
}
.paymenticontext{
  font-size: 14pt;
  color: #bababa !important;
}
.tryaclasspaymentmethodchoices{
  margin-bottom: 10px;
}
.tryaclasspaymentform{
  margin-bottom: 20px;
}
.tryaclasspaymentformexpiration{
  margin-bottom: 10px;
}
.tryaclassbillinginfo {
  margin:30px 0 0 0;
}
.tryaclassbillinginfoheader{
  font-size: 18pt;
  font-weight: 600;
  margin-bottom: 15px;
}
.tryaclassscheduleformdatetimecontainer{
  margin-top: 20px;
}
.tryaclassscheduleformdate, .tryaclassscheduleformtime{
  margin-bottom: 15px;
  padding-left:0;
}
.tryaclassscheduleprivacy{
  margin-bottom: 15px;
}
.tryaclassscheduleprivacy a{
  color: #12aebc !important;
}
.tryaclassscheduleformprice{
  font-size: 14pt;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 20px;
  padding:0;
}
.tryaclassscheduleform .inlinedate{
  margin-bottom: 20px;
}
.tryaclassscheduleform .schedulelistcontainer{
  margin-bottom: 20px;
}
.tryaclassscheduleform .summaryselectedschedule{
  margin-bottom: 20px;
}
.tryaclassscheduleform .calendarcontainer{
  margin-top: 20px;
  padding:0;
}
.articlecontainer {
  cursor: pointer;
}
.articlecontainer .articlebanner{
  height: 350px;
  background-color:#bababa;
  overflow: hidden;
}
.articlecontainer:hover .articledateandcategory{
  color: #f15c22 !important;
}

.articlecontainer .articlebanner img{
  /*width: 100%*/
  width: auto!important;
  height: 100%!important;
}
.articlecontainer .articledateandcategory{
  text-align: center;
  font-weight: bold;
  padding: 10px 0 10px 0;
  /*color: #444444 !important;*/
}
.articlecontainer .articletitle{
  text-align: center !important;
  font-size: 14pt !important;
  font-weight: bold !important;
  margin-bottom: 20px !important;
  padding: 0 10px 0 10px !important;
  color: #444444 !important;
}
.bnbbuzzfullbanner{
  height: 435px;
  overflow: hidden;
}
.bnbbuzzfullarticlecontainer {
  /*padding: 20px 140px 20px 140px;*/
  padding:5vw;
}
.bnbbuzzfullarticlecontainer .bnbbuzzfullarticledateandcategory{
  font-size: 12pt;
  color: #f15c22;
  font-weight: bold;
}
.bnbbuzzfullarticlecontainer .bnbbuzzfullarticletitle{
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 30px;
}
.bnbbuzzfullarticlecontainer .bnbbuzzfullarticlesocial {
  margin: 20px 0;
}
.bnbbuzzfullarticlecontainer .bnbbuzzfullarticlesocial a{
  color: #bababa;
  font-size: 19pt;
  padding: 0 20px 0 0;
}
.locationresultcontainer{
  border-top: solid 1px #ddd;
}
.locationresultcontainer .locationcontainer{
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}
.locationcontainer .locationcontainerlocationtitle{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 19pt;
}
.locationcontainer:hover .locationcontainerlocationtitle{
  /*color: #f15c22;*/
  color:#13aab3;
}
.locationcontainer .locationcontainerlocationtype {
  position: absolute;
  top: 30px;
  right: 30px;
}
.locationcontainer .locationcontainerlocationtype img { height:30px; }
.locationcontainer .locationcontainergetdirections{
  text-align:right;
  font-style: italic;
  position:absolute;
  bottom:15px; right:30px;
}

/* FORM INPUT icon inside */
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
/* FORM INPUT icon inside END */

/*login*/
.bg-gray {
  background-color: #F1F1F1;
}
#loginreg {
  background-color: #f1f1f1;
  min-height: 180px;
  padding: 25px 0px;
}
#loginreg span {
  position: relative;
  top: 6px;
}
#loginreg div#signup {
  width: 62%;
  margin: auto;
}

#loginreg div#login {
  width: 46%;
  margin: auto;
}

#loginreg div#forgotpass {
  width: 28%;
  margin: auto;
}

#loginreg h3 {
  font-weight: bold;
  font-size: 24px;
}

#loginreg .col-sm-2 {
  width: 110px;
  padding-right: -0px;
}

#signup .col-sm-10 {
  margin-top: 20px;
  margin-bottom: 7px;
  font-size: 17px;
  color: #000;
  width: 88%;
  height: 40px;
}

#login .col-sm-10{
  margin-top: 20px;
  margin-bottom: 7px;
  font-size: 17px;
  color: #000;
  width: 82%;
}

#forgotpass .col-sm-4 {
  margin-top: 20px;
  margin-bottom: 7px;
  font-size: 17px;
  color: #000;
}

#loginreg .btn-link {
  color:#000;
}

#loginreg .btn-link:hover{
  text-decoration: none;
}

#loginreg .col-sm-10 .btn.btn-link.left {
  padding-right: 3px
}

#loginreg .col-sm-10 .btn.btn-link.right {
  padding-left: 3px
}

#loginreg .col-sm-10  .span {
  position: relative;
  top: 3px;
}

#loginreg .col-sm-10 .close,
#loginreg h3 .close {
  font-size: 45px;
  color:#f15c22;
  opacity:0.8;
  line-height: 0.8;
  position: relative;
  top: -48px;
}

#loginreg .col-sm-10 .close2,
#loginreg #forgotpass .close2 {
  font-size: 45px;
  color:#f15c22;
  opacity:0.8;
  line-height: 0.8;
  position: relative;
  top: -10px!important;
}

#forgotpass #resetpass {
  padding: 10px;
}

#loginreg .col-sm-12 input,
#loginreg .col-sm-12 select {
  padding: 6.5px 17px;
  font-size: 17px;
  height: 42px;
  border: none;
}

#loginreg .col-sm-12 .form-group:first-child input,
#loginreg .col-sm-12 .form-group:first-child select {
  margin-left: 0px;
  margin-right: 7px;
}

#loginreg .col-sm-12 .form-group input,
#loginreg .col-sm-12 .form-group select {
  margin-right: 7px;
  margin-left: 7px;
}

#loginreg #signup .col-sm-12 button {
  width: 215px;
  height: 42px;
}

#signup input {
  width: 215px;
}

#loginreg #login .col-sm-12 button {
  width: 213.333px;
  height: 42px;
}

#login input {
  width: 213.333px;
}

#loginreg .col-sm-12 p,
#loginreg .col-sm-8 p {
  color: red!important;
  margin-top: 10px;
  padding: 0px 10px;
}

.col-sm-4.sc p {
    color: #777 !important;
}

#loginreg .form-group {
  vertical-align: top;
}
.btn-bnb {
  background-color: #f15c22;
  color: #fff;
  opacity:0.8;
}

.btn-bnb:hover,
.btn-bnb:focus {
  background-color: #f15c22;
  color: #fff;
  opacity:1;
}

.animate-if {
    position: relative;
    -webkit-transition:top linear 0.15s;
    transition:top linear 0.15s;
    -moz-transition:top linear 0.15s;
    top: 0;
}

.animate-if.ng-hide {
  top: -100px;
}

.animate-if.ng-hide-add, .animate-if.ng-hide-remove {
  display:block!important;
}

.animate-hide {
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
}

.animate-hide.ng-hide {
  opacity:0;
}

div.sc p {
  color:#99A6AD!important;
}

div.sc img {
  width: 35px;
  padding: 5px;
  margin-top: 2px;
}
.newspagination .paginationcontainer{
  text-align: center;
  width: 100%;
  padding: 20px 0 20px 0;
}

.newspagination .paginationcontainer .pagination>li>a, .newspagination .paginationcontainer .pagination>li>span {
     border: none !important;
}
/*PAGINATION in CATEGORY NEWS LIST_ */
.myPagination {
  text-align:center;
  color:#bababa;
}
.myPagination a { color:#bababa; }
.myPagination a:hover { color:#222; }
.back_pagination {
  position:relative; top:1px;
  display: inline-block;
  height:0; width:0;
  border-style:solid;
  border-width:6px;
  border-color:transparent #bbbdc2 transparent transparent;
  margin-right:10px;
  color:#bababa;
}
.next_pagination {
  position:relative; top:1px;
  display: inline-block;
  height:0; width:0;
  border-style:solid;
  border-width:6px;
  border-color:transparent transparent transparent #bbbdc2;
  margin-left:10px;
  color:#bababa;
}
.active_page {
  display:inline-block;
  /*height:25px; width:25px; */
  padding: 0 2px!important;
  margin:0 6px 0 2px;
  /*border:1.5px solid #e6e6e6;*/
  text-align:center;
  /*background:#f2f2f2;
  color:#f15c22 !important;*/
  cursor:no-drop;
  font-weight: bold;
}
.other_pages {
  display:inline-block;
  padding:0 2px;
  margin:0 2px;
  text-align:center;
  color:#bababa;
}
.pagination_pages:hover {
  text-decoration:underline;
  /*color:#f15c22 !important;*/
  color:#222;
}
.first_page {
  position:relative; top:1px;
  display: inline-block;
  height:0; width:0;
  border-style:solid;
  border-width:6px;
  border-color:transparent #bbbdc2 transparent transparent;
  margin-right:10px;
}
[first_page_line] {
  position:relative; top:1px; left:2px;
  display:inline-block;
  height:12px;
  border-right:1px solid #bbbdc2;
}
.last_page {
  position:relative; top:1px;
  display: inline-block;
  height:0; width:0;
  border-style:solid;
  border-width:6px;
  border-color:transparent transparent transparent #bbbdc2;
  margin-left:10px;
}
[last_page_line] {
  position:relative; top:1px; left:-2px;
  display:inline-block;
  height:12px;
  border-right:1px solid #bbbdc2;
}
.successcontainer{
  padding: 60px;
}

.successcontainer .graybordercontainer{
  border: solid 10px #ddd;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  overflow: hidden;
}
.successcontainer .graybordercontainer .bigcyan{
  color: #00AFBC !important;
  font-size: 20pt !important;
  margin-top: 40px;
}

.successcontainer .graybordercontainer .orangetext{
  color: #f15c22 !important;
  font-size: 12pt !important;
}

.successcontainer .successbnblogo{
  float: right;
  width: 224px;
}
.successcontainer .graybordercontainer .deartxt{
   color: #00AFBC !important;
   font-size: 20pt !important;
   margin-top: 0px;
}
.successcontainer .graybordercontainer .graytxt{
   font-size: 12pt !important;
}
.successcontainer .graybordercontainer .nametxt{
   color: #444 !important;
   font-size: 20pt !important;
   margin-top: 20px;
}
.entermainslider{
  overflow: hidden;
}
.centermobileslider, .centermainslider{
  overflow: hidden;
}
.swiper-container {
  width: 100%;
  height: 400px;
  z-index:-1;
}
.swiper-banner, .swiper-banner2 {
  width: 100%;
  height:inherit;
}
.swiper-containermobile {
  width: 100%;
  height: 320px !important;
}
.swiper-center {
  width: 100%;
  height: 434px !important;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-container .swiper-wrapper .swiper-slide-next{
  opacity: 1 !important;
}
.swiper-container .swiper-wrapper .swiper-slide{
  /*opacity: 0.5;*/
}
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  display: inline-block;
  border-radius: 100%;
  border:1.5px solid #00adbb;
  background: #ffffff;
  opacity: 0;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #00adbb !important;
}
.calendarinlinecenter{
  margin-top: 30px;
}
@media screen and (max-width: 1600px) {
  .secondarynav ul li{ padding: 20px 30px; }
  .bnbbuzzsecondarynav ul li { padding:20px; }
}
@media screen and (max-width: 1366px) {
  .swiper-container {
    width: 100%;
    height: 300px;
  }
  .centertitlepadding .centertitle {
    font-size: 40pt!important;
    line-height:60px;
  }
}

@media screen and (max-width: 1199px) {
  .schedulecontainer{
    height: 100% !important;
  }
  .centertitlepadding .centertitle {
    font-size: 35pt!important;
    line-height:50px;
  }
}
@media screen and (max-width: 1030px) {
  #centercalendar {
    position:relative; left:-10px;
  }
}

@media screen and (max-width: 1000px) {
  .centernews div.img {
    float:none;
    margin:auto;
    width: 225px;
    max-height:136px;
    overflow:hidden;
  }
  .centertitlepadding .centertitle {
    font-size: 30pt!important;
    line-height:45px;
  }
  .centernews div.img img {
    width:100%;
    height:auto;
  }
  .newstitle {
    margin-top:10px;
    display:block;
    width:100%;
  }
}
@media screen and (max-width: 991px) {
  #centercalendar {
    position:relative; left:0px;
  }
}
@media screen and (max-width: 941px) {
  .mainfooter ul li a {
    font-size:12.5px;
  }
  .navlistleftpadding{
    padding: 17px 0 0 0;
  }
  .navlistrightpadding {
    padding: 17px 10px 0 0;
  }
}
@media screen and (max-width: 940px) {
  .mobilenavbar{ display: block !important; }
  .normalnavbar{ display: none; }
  /*.centermobileslider{ display: block !important; }*/
  .swiper-center { height: 320px !important;}
  .aboutcontentcontainer{ padding: 20px;}
  .secondarynav, .bnbbuzzsecondarynav{ display: none !important; }
  .secondarynavmobile{ display: block !important; }
  .navtryaclass {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .centertitlepadding .centertitle{
    font-size: 28pt!important;
  }
  .navtryaclass a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .navtryaclass a i { display:none; }
}
@media screen and (max-width: 920px) {
  .mobilewithindex{
    display: block !important;
  }
  .fullwithindex{
    display: none;
  }
}
@media screen and (max-width: 861px) {
  .navtryaclass a { padding:5px 5px!important; }
  .navtryaclass a i { display:inline-block; padding:0;  }
  .navtryaclass a span { display:none; }
}
@media screen and (max-width: 767px) {
  .cartlogo { top: 8px; }
  .btn-tryclass { display:block; }
  .centertitlepadding{ padding: 20px 20px 0 20px; }
  .ctr-scl-icon {
    padding-bottom:15px;
  }
  .centeraddressmobile{
    display: block !important;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .centeraddressnormal{
    display: none !important;
  }
  .centeraddresstext{
    text-align: center !important;
    font-size: 12pt;
    color: #aaaaaa;
    padding: 0 0 10px 0;
  }
  .centernewsheader, .centersectionheader {
    padding:10px 15px;
  }
  .centernews {
    margin-top:20px;
  }
  .centeraddressmobilecontent{
    display: block !important;
    padding: 20px !important;
  }
  .footernormal{
    display: none !important;
  }
  .footermobile{
    display: block !important;
    background: #e6e7e8 !important;
  }
  .mobilefooternavbar{
    background: #e6e7e8 !important;
  }
  .schedulenormal{
    display: none !important;
  }
  .schedulemobile{
    display: block !important;
    padding: 20px 0 !important;
    background: #edeeef !important;
  }
  .or-spacer{
    display: block !important;
  }
  .aboutcontentcontainer .aboutcontentbody{
    margin-bottom: 20px !important;
  }
  .aboutcontentcontainer .aboutcolcontainer{
    padding: 0px !important;
  }
  .aboutcontentcontainer .classescolcontainer{
    padding: 0px !important;
  }
  .aboutcontentcontainer{
    background: #edeeef !important;
  }
  .classescontentcontainer{
    padding: 15px !important;
  }
  .classescontentcontainer .classescolcontainer{
    padding: 0px !important;
  }
  .tryaclasscontentcontainer .tryaclasscolcontainer{
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
  }
  .tryaclasssearchlocation{
    padding: 20px 10px 0 10px;
  }
  .tryaclasscolcontainerone{
    /*padding: 10px;*/
    margin-bottom: 20px;
  }
  .tryaclasscolcontainergroup{
    /*padding: 10px;*/
    margin-bottom: 20px;
  }
  .tryaclassbanner{
    height: 350px;
    background-color:#bababa;
  }
  .bnbbuzzfullarticlecontainer .bnbbuzzfullarticlesocial {
    text-align:center
  }
  .bnbbuzzfullbanner{
    height: 235px;
    background-color:#bababa;
  }
  .articlecontainer .articlebanner{
    height: 250px;
    overflow: hidden;
  }
  .aboutbanner, .classesbanner, .pagebanner {
    /*height: 186px;*/
    height: 250px;
    background-color:#bababa;
  }
  .centermap{
    border-top: solid 1px #d8d7d7;
    border-bottom: solid 1px #d8d7d7;
    height:300px;
  }
  .successcentermap{
    height:300px;
  }
  .successcontainer{
    padding: 10px !important;
  }
  .successcontainer .graybordercontainer{
    border: none !important;
    max-width: 100% !important;
    overflow: hidden;
  }
  .successcontainer .successbnblogo{
    float: none !important;
    width: 280px;
  }
  .bnbbuzzfullarticlecontainer .bnbbuzzfullarticlesocial {
    margin: 80px 0 20px 0;
  }

  .pressinoftitle h2 { font-size:24px; }
  .pressinoftitle h3 { font-size:16px; }

  #copyright-mv { font-size:14px!important; color:#bababa !important; }
}
@media screen and (max-width: 476px) {
  .pageheader{
    display: none !important;
  }
  .centertitlepadding .centertitle{
    font-size: 24pt!important;
    line-height:35px;
  }
}
@media screen and (max-width: 440px) {
  .centersectionheader { font-size:24px; }
  .centersectionheader .viewall, .centersectionheader .viewallevents, .centersectionheader .viewallnews
  { font-size:13px; }
}
.bg-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
}
.full-width {
  width: 100%!important;
  height: auto!important;
}
.minheight {
  min-height: 601px;
  padding-bottom: 20px;
}
.text-bold {
  font-weight: bold;
}
.no-hover {
  color: #333;
}
.no-hover:hover {
  color: #333;
  text-decoration: none;
}
.no-margin-top {
  margin-top:0px!important;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
@media screen and (max-width: 400px) {
  .centersectionheader .viewall, .centersectionheader .viewallevents, .centersectionheader .viewallnews {
    display:block;
    left:0px;
  }
}

#footercontent-mv { display:inline-block; position:absolute; margin-top:33px; right:100px; }
#terms-mv { color:#bababa } #terms-mv:hover { color:#333 }
@media screen and (max-width: 380px) {
  #terms-mv { display:block; margin-left: 10px; }
  #separator-mv { display:none; }
  #footercontent-mv { margin-top:20px; width:100%; right:0; text-align:center; }
  #bot-minilogo-mv { width:45px; height:40px; position:relative; top:5px;}
  .swiper-center { height: 270px !important;}
}
@media screen and (max-width: 340px) {
  .btn-tryclass {
    width:90%;
    margin:0 5% 5% 0;
    text-align:center;
  }
  .centertitlepadding .centertitle { font-size: 20pt!important; }
}

.custom-label {
  color: #fff !important;
  font-size: 75% !important;
  float: left;
  margin-top: 22px;
  margin-left: 30px;
  padding: 7px;
  background: #F15C22 none repeat scroll 0% 0% !important;
}

/*jeevon*/
.normalnavbar > .navbar-default {
  box-shadow: none;
  margin-bottom: 0px!important;
}

.bg-div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*press & bnb buzz banner zoom effect*/
.zoom {
  overflow: hidden;
}

.zoom > .bg-div {
  -webkit-transition: all 0.4s ease;
     -moz-transition: all 0.4s ease;
       -o-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
          transition: all 0.4s ease;
}

.zoom > .bg-div:hover{
  /*background-size: 150%;*/
  -webkit-animation: animatedBackground 0.45s ease-out 1;
    -moz-animation: animatedBackground 0.45s ease-out 1;
    animation: animatedBackground 0.45s ease-out 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animatedBackground {
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1)
  }
  100% {
  -webkit-transform: scale(1.6, 1.6);
  -moz-transform: scale(1.6, 1.6);
  -ms-transform: scale(1.6, 1.6);
  -o-transform: scale(1.6, 1.6);
  transform: scale(1.6, 1.6)
  }

}


@-moz-keyframes animatedBackground {
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1)
  }
  100% {
    -webkit-transform: scale(1.6, 1.6);
    -moz-transform: scale(1.6, 1.6);
    -ms-transform: scale(1.6, 1.6);
    -o-transform: scale(1.6, 1.6);
    transform: scale(1.6, 1.6)
  }

}
@keyframes animatedBackground {
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1)
  }
  100% {
    -webkit-transform: scale(1.6, 1.6);
    -moz-transform: scale(1.6, 1.6);
    -ms-transform: scale(1.6, 1.6);
    -o-transform: scale(1.6, 1.6);
    transform: scale(1.6, 1.6)
  }

}

.normalnavbar .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background:none;
  box-shadow: none;
  font-weight: bold;
  color: #9D9D9D !important;
}

.homemainbanner .swiper-slide > a {
  height: 100%!important;
}

#layout .post-list {
  display: none!important;
}

#layout #placement-bottom {
  display: none!important;
}
.bnbbuzzindexcontainer {
  padding:0!important;
}
.bnbbuzzindexcontainer .col-sm-4,
.press .col-sm-4 {
  width:33.333%;
}

@media screen and (max-width: 1032px) {
  .bnbbuzzindexcontainer .col-sm-4,
  .press .col-sm-4 {
    width:50%;
  }
}

@media screen and (max-width: 540px) {
  .bnbbuzzindexcontainer .col-sm-4,
  .press .col-sm-4 {
    width:100%;
  }
}

.text-left {
  text-align: left!important;
}

.shopitem {
  background-image: url("/img/shoppopup.png");
  background-size: 100% 100%;
  padding: 5px 10px 5px 20px;
  position: absolute;
  top: 16px;
  margin-left: 30px;
  color: rgb(255, 255, 255) !important;
  font-size: 12px !important;
}

#signup .progress2 {
  display: none;
}

#signup .progress {
  width: 540px;
  top: 13px;
  position: relative;
  height: 9px;
  border-radius: 0px;
}

.progress-bar {
  background-image: linear-gradient(to bottom, #F15C22 0px, #F15C22 100%);
}

#homeNavbar ul.navlistrightpadding li,
#mainNavbar ul.navlistrightpadding li {
  padding: 23px 3px;
}

.shop-swiper-container {
  width: 100%!important;
  height: 400px!important;
}

.tryclassbtn {
  padding-right: 60px;
  padding-left: 60px;
}

@media screen and (max-width: 480px) {
  .tryclassbtn {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 420px) {
  .tryclassbtn {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 340px) {
  .tryclassbtn {
    padding-right: 12px;
    padding-left: 12px;
  }
}

.centerevents p {
    width: 100%!important;
}

.centermembership .classtitle {
  font-size: 15pt;
}

.centermembership .classdesc {
  line-height: 1.6;
  font-size: 12pt;
  margin-bottom: 10px;
}

.centermembership .membershiplist {
  overflow: hidden;
  text-align: center;
  min-height: 220px;
}

.centermembership .membershiplist > h1 {
  position: absolute!important;
  top: auto!important;
  bottom: 0px;
}

.centermembership .membershiplist button {
  margin-top: 20px;
  padding: 6px 40px;
}

.centermembership .membershiplist:first-child button {
  padding: 6px 12px;
}

.centermembership .membershiplist.col-md-2 {
  width: 18.75%;
}

@media screen and (max-width: 991px) {
  .centermembership .membershiplist.col-md-2 {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .centermembership .membershiplist.col-md-2 {
    width: 100%;
  }

  .centermembership .membershiplist {
    text-align: center!important;
  }
}

.swiper-centertestimonial {
  overflow: hidden;
}

.centertesti {
  padding: 25px 65px;
  min-height: 263px;
}

.centertesti .story-list-subject {
  font-size: 11pt;
}

.centertesti .img-ttml {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  float: left;
}

.centertesti .col-ttml-content {
  padding: 0px 30px;
  margin:23px 0px;
}

.centertesti .p-ttml {
  font-size: 15px;
}

.centertesti a {
  /*display: inherit;*/
  width:100%;
  height: 100%;
}

/*.centertesti .swiper-slide {
  width: 50%;
}*/

.swiperbtn button {
  padding: 0px;
  margin: 0px;
  border: none;
  color: #ccc;
  font-size: 20px;
  background-color: transparent;
}

.row.centersectionheader span.swiperbtn {
  margin-left: 30px;
}

.swiper-centernews a{
  width: 100%;
}

@media screen and (max-width: 940px) {
    .centertesti {
      height: auto;
    }
    .centertesti .swiper-slide {
      width: 100%;
      height: 235px!important;
    }

    .centertesti .p-ttml {
      font-size: 14px;
      line-height: 18pt;
    }
    .centernews div.img {
      margin: auto;
      display: block;
      margin-bottom: 20px;
      float: none!important;
      width: 300px!important;
      min-height: 200px!important;
      height: auto;
    }
    .newstitle {
      text-align: center!important;
    }
}

@media screen and (max-width: 600px){
  .centertesti .img-ttml {
    display: block;
    margin: auto;
    float: none;
  }

  .centertesti .col-ttml-content {
    text-align: center;
  }

  .swiper-centertestimonial .swiper-slide {
    height: 100%!important;
    width: 100%!important;
  }
}

@media screen and (max-width: 530px){
  .swiperbtn {
    display: none;
  }
}

.wrbr,
.wrbr p {
  word-break: break-word;
}

.rnd-border{
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
}

.dv-prod-img > .rnd-border{
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
}

.centermembership > .membershiplist:nth-child(6) {
  display: none;
}

@media screen and (max-width: 990px){
  .centermembership > .membershiplist:last-child {
    display: block;
  }
}

.modal-backdrop{
bottom: 0;
}
