<div class="panel panel-default">
  <form class="form-horizontal" name="form" id="form" ng-submit="submit(product)">
    <div class="panel-heading"><i class="icon-info"></i> Discount Settings</div>
    <div class="modal-body">
      <h4 style="margin-top: 0px">Current Price: ${[{ product.price }]}</h4>

      <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Discount by amount</label>
        <div class="col-sm-5">
          <div class="input-group m-b">
            <span class="input-group-addon">$</span>
            <input class="form-control input-sm" type="text" ng-disabled="disable" ng-model="product.discprice" ng-change="discount(product.discprice, 'price')">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Discount by percentage</label>
        <div class="col-sm-5">
          <div class="input-group m-b">
            <input class="form-control input-sm" ng-disabled="disable" type="text" ng-model="product.discount" ng-change="discount(product.discount, 'percentage')">
            <span class="input-group-addon">%</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Date from</label>
        <div class="col-sm-7">
          <div class="input-group col-sm-7">
            <span class="input-group-btn">
              <input id="date" name="date" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="product.discount_from" is-open="opened1" datepicker-options="dateOptions"  ng-required="true" close-text="Close" type="text" disabled>
              <button type="button" class="btn btn-default" ng-click="open($event, 'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Date to</label>
        <div class="col-sm-7">
          <div class="input-group col-sm-7">
            <span class="input-group-btn">
              <input id="date" name="date" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="product.discount_to" is-open="opened2" datepicker-options="dateOptions"  ng-required="true" close-text="Close" type="text" disabled>
              <button type="button" class="btn btn-default" ng-click="open($event, 'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail3" class="col-sm-offset-3 col-sm-3 control-label">Discounted Price</label>
        <div class="col-sm-3">
          <div class="input-group m-b">
            <span class="input-group-addon">$</span>
            <input class="form-control input-sm" type="text" readonly="readonly" ng-model="product.discounted">
          </div>
        </div>
      </div>

    </div>
    <footer class="panel-footer">
      <div class="pull-right">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</a>
        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Submit</a>
      </div>
      <div style="clear:both;"></div>
    </footer>
  </form>
</div>




