<div class="panel panel-default no-margin">
	<div class="panel-heading"><i class=" icon-note "></i> Add Invoice</div>
	<div class="panel-body">
		<form class="bs-example form-horizontal" name="form"> 
      <div class="form-group hiddenoverflow">
        <label class="col-sm-3 control-label">Invoice #</label>
        <div class="col-sm-8">
          <input type="text" id="" name="" class="form-control  ng-invalid ng-invalid-required ng-valid-pattern" ng-model="inv.number" required="required"  only-digits>
        </div>
      </div>
      <div class="form-group hiddenoverflow">
        <label class="col-sm-3 control-label">Distributor Name</label>
        <div class="col-sm-8">
          <input type="text" id="" name="" class="form-control  ng-invalid ng-invalid-required ng-valid-pattern" ng-model="inv.distname" required="required">
        </div>
      </div>
      <div class="form-group hiddenoverflow">
        <label class="col-sm-3 control-label">Distributor Phone #</label>
        <div class="col-sm-8">
          <input type="text" id="" name="" class="form-control  ng-invalid ng-invalid-required ng-valid-pattern" ng-model="inv.distnumber" required="required" only-digits>
        </div>
      </div>
		</form>

	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<button class="btn btn-default" ng-click="cancel()">{[{ msg }]}</button>
			<button class="btn btn-primary" ng-click="ok(inv)" ng-disabled="form.$invalid">Save</button>
		</div>
		<div style="clear:both;"></div>
	</footer>
</div>
