<form class="bs-example form-horizontal" name="form" novalidate ng-submit="ok(tags)">

    <div class="panel panel-default">
        <div class="panel-heading">
            Add Product Tag
        </div>
        
        <div class="row wrapper">
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Tag</label>
                <div class="col-sm-8">
                    <span class="label label-danger" ng-if="exist">Product tag already exist.</span>
                    <input type="text" class="form-control" id="name" ng-model="tags.tag" ng-required ng-change="validateTags(tags.tag)" required="required">
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <footer class="panel-footer hiddenoverflow">
                <div class="col-sm-offset-8 col-sm-4">
                    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </footer>
        </div>
    </div>

</form>