<div class="panel panel-default">
  <form class="form-horizontal" name="form" id="form">
    <div class="panel-heading"><i class="icon-info"></i> Add Quantity</div>
    <div class="modal-body">
      <h4 style="margin-top: 0px">Current Quantity: {[{ quantity }]}</h4>

      <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Add Quantity</label>
        <div class="col-sm-5">
          <input ui-jq="TouchSpin" type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern input-sm" data-min='1' data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up" ng-model="product.quantity" data-verticaldownclass="fa fa-caret-down" required="required" only-digits>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-offset-4 col-sm-8 control-label text-left font-bold">Total Quantity: {[{ (quantity + product.quantity) | number:0}]}</label>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Date</label>
        <div class="col-sm-7">
          <div class="input-group col-sm-7">
            <span class="input-group-btn">
              <input id="date" name="date" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="product.date" is-open="opened1" datepicker-options="dateOptions"  ng-required="true" close-text="Close" type="text" disabled>
              <button type="button" class="btn btn-default" ng-click="open($event, 'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <small class="col-sm-offset-4 col-sm-8 text-left font-italic ">date when quantity added</small>
      </div>
    </div>
    <footer class="panel-footer">
      <div class="pull-right">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</a>
        <button type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ok()">Submit</a>
      </div>
      <div style="clear:both;"></div>
    </footer>
  </form>
</div>




