<div class="panel panel-default no-margin">
	<div class="panel-heading"><i class=" icon-note "></i> Banner URL</div>
	<div class="panel-body">
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" id="bannerurl" name="bannerurl" class="form-control" ng-model="image.url" placeholder="include http://">
      </div>
    </div>
	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Cancel</a>
			<button class="btn btn-primary" ng-click="ok(image)">Save</button>
		</div>
		<div style="clear:both;"></div>
	</footer>
</div>
