<form class="bs-example form-horizontal" name="form" novalidate ng-submit="ok(cl)">

    <div class="panel panel-default">
        <div class="panel-heading">
            {[{ header }]}
        </div>

        <div class="row wrapper">
            <div class="form-group">
                <label for="name" class="col-sm-offset-1 col-sm-1 control-label">Class</label>
                <div class="col-sm-offset-1 col-sm-10">
                    <span class="label label-danger" ng-if="exist">Class already exist.</span>
                    <input type="text" class="form-control" id="name" ng-model="cl.class" ng-required ng-change="validateClass(cl.id, cl.class)" required="required">
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Description</label>
                <div class="col-sm-offset-1 col-sm-10">
                    <textarea class="ck-editor" ng-model="cl.description"></textarea>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <footer class="panel-footer hiddenoverflow">
                <div class="col-sm-offset-8 col-sm-4">
                    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </footer>
        </div>
    </div>

</form>
