<div class="panel panel-default">
	<div class="panel-heading"><i class="icon-info"></i> {[{confirm.title}]}</div>
	<div class="panel-body">
		{[{confirm.msg}]}
		<br><br>
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-sm btn-default" ng-click="cancel()">{[{confirm.cancel}]}</button>
			<button type="button" class="btn btn-sm btn-danger" ng-click="ok(confirm.key)">{[{confirm.ok}]}</button>
		</div>
	</div>
</div>
