<form class="bs-example form-horizontal" name="form" ng-submit="ok(district)">
   
    <div class="panel panel-default">
        <div class="panel-heading">
            Edit District
        </div>

        <div class="row wrapper">
                <div class="col-sm-12">         
                    District Name
                    <input type="text" id="title" name="title" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="district.districtname" required="required" >
                
                    <div class="line line-dashed b-b line-lg"></div>

                    Region
                    <div ui-module="select2">
                        <select ui-select2 class="form-control"  ng-model="district.regionid" required="required">
                            <option ng-repeat="list in regionlist" ng-value="list.regionid">{[{list.regionname}]}</option>

                        </select>
                    </div>
                </div>
        </div>
        <div class="table-responsive">
            <footer class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-success">Save</button>
            </footer>
        </div>
    </div>
    
</form>