<form class="bs-example form-horizontal" name="form" novalidate ng-submit="ok(category)">

    <div class="panel panel-default">
        <div class="panel-heading">
            Add Product Category
        </div>
        
        <div class="row wrapper">
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Category</label>
                <div class="col-sm-8">
                    <span class="label label-danger" ng-if="exist">Product category already exist.</span>
                    <input type="text" class="form-control" id="name" ng-model="category.category" ng-change="validateCategory(category.category, category.id)" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Sub Category</label>
                <div class="col-sm-8">
                    <span class="label label-danger" ng-if="required">Product sub category is required.</span>
                    <ui-select multiple on-select="validation(category.subcategory)" on-remove="validation(category.subcategory)" tagging ng-disabled="disable" tagging-label="false" ng-model="category.subcategory" theme="bootstrap" title="Choose a sub category">
                        <ui-select-match placeholder="Select sub categories...">{[{ $item }]} </ui-select-match>
                        <ui-select-choices repeat="subcategory in subcategories">
                          {[{ subcategory }]}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <footer class="panel-footer hiddenoverflow">
                <div class="col-sm-offset-8 col-sm-4">
                    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </footer>
        </div>
    </div>

</form>