<div class="panel panel-default no-margin">
	<div class="panel-heading"><i class=" icon-note "></i> Edit image link</div>
  <form class="bs-example form-horizontal" name="form"> 
  	<div class="panel-body">
      <div class="form-group hiddenoverflow">
        <label class="col-sm-3 control-label">Link URL</label>
        <div class="col-sm-7">
          <input type="text" id="" name="" class="form-control  ng-invalid ng-invalid-required ng-valid-pattern" ng-model="img.url" placeholder="include http://" required="required">
        </div>
      </div>
  	</div>
  	<footer class="panel-footer">
  		<div class="pull-right">
  			<a class="btn btn-default" ng-click="cancel()">Cancel</a>
  			<button class="btn btn-primary" ng-click="ok()" ng-disabled="form.$invalid">Save</button>
  		</div>
  		<div style="clear:both;"></div>
  	</footer>
  </form>
</div>
