
<div class="">
	<div class="panel-heading">Upload Photo</div>
	<div class="panel-body">
		<div class="panel-body">
			<alert ng-repeat="alert in alertss" type="{[{alert.type }]}" close="closeAlerts($index)">{[{ alert.msg }]}</alert>
			<div class="loader" ng-show="imageloader">
				<div class="loadercontainer">
					<div class="spinner">
						<div class="rect1"></div>
						<div class="rect2"></div>
						<div class="rect3"></div>
						<div class="rect4"></div>
						<div class="rect5"></div>
					</div>
					Uploading your images please wait...
				</div>
			</div>
			<div ng-if="!imageloader">
				<div ng-show="imagecontent" style="margin-bottom:20px">
					<div class="col-sml-6">
						<div class="dragdropcenter full-width">
							<div ngf-drop ngf-select class="drop-box" 
							ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
							accept="image/*" ng-model="file" ngf-change="upload($files)">Drop images here or click to upload</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel panel-default">
						<!-- <div  class="imagegallerystyle"  style="background-image: url('{[{amazonPath}]}/slider/image/{[{_filename}]}');" ></div> -->
						<img class="full-width" ngf-src="file[0]" ng-if="file.length > 0">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>URL</label>
						<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-url" placeholder="Include http://" ng-model="url">
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<footer class="panel-footer" ng-if="!imageloader">
	<!-- chat form -->
	<div class="pull-right">
		<a class="btn btn-default" ng-click="cancel()">Close</a>
		<button type="submit" class="btn btn-success" ng-click="submit(url)">Submit</button>
		<!-- <a class="btn btn-primary" ng-click="ok(update)">Update</a> -->
	</div>
	<div style="clear:both;"></div>
</footer>
</div>






