<div class="panel panel-default">

	<div class="panel-heading"><i class="icon-info"></i> 1 Group Class + 1-on-1 Intro Session</div>
	<div class="panel-body">
		<div class="col-sm-12">
			Confirmation Number <input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="session.confirmationnumber" readonly="">
		</div>
		<div  class="col-sm-12">
			Name <input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="session.name" readonly="">
		</div>
		<div  class="col-sm-12">
			Email<input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="session.email" readonly="">
		</div>
		<div  class="col-sm-12">
			Phone<input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="session.phone" readonly="">
		</div>
		<div class="col-md-4">
			Day of Class<input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="session.day" readonly="">
		</div>
		<div class="col-md-4">
			Time of Class<input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="session.hour" readonly="">
		</div>
		<div class="col-md-4">
			Payment<input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="session.payment" readonly="">
		</div>
		<div class="col-md-4">
			Quantity<input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="session.quantity" readonly="">
		</div>
		<div class="col-sm-12">
			Comment<textarea class="form-control" rows="6" placeholder="Type your message" readonly="">{[{session.comment}]}</textarea>
		</div>
		<div class="line line-dashed b-b line-lg"></div>
		<div class="col-md-4 aligncenter">
			Device
			<div ng-if="session.device == 'android' || session.device == 'iphone' || session.device == 'blackberry' || session.device == 'windows-phone'" || session.device == 'ipod'>
				<img src="/img/sessionico/mobile.png" width="60px" height="60px;">
				<br>
				Mobile
			</div>
			<div ng-if="session.device == 'desktop'">
				<img src="/img/sessionico/pc.png" width="60px" height="60px;">
				<br>
				Desktop
			</div>
		</div>
		<div class="col-md-4 aligncenter">
			Operating System
			<div ng-if="session.deviceos == 'android'">
				<img src="/img/sessionico/android.png" width="60px" height="60px;">
				<br>
				Android
			</div>
			<div ng-if="session.deviceos == 'ios'">
				<img src="/img/sessionico/ios.png" width="60px" height="60px;">
				<br>
				iOS
			</div>
			<div ng-if="session.deviceos == 'mac'">
				<img src="/img/sessionico/macos.png" width="60px" height="60px;">
				<br>
				Mac Os
			</div>
			<div ng-if="session.deviceos == 'windows' || session.deviceos == 'windows-phone'">
				<img src="/img/sessionico/windows.png" width="60px" height="60px;">
				<br>
				Windows Os
			</div>
			<div ng-if="session.deviceos == 'windows-phone'">
				<img src="/img/sessionico/windows.png" width="60px" height="60px;">
				<br>
				Windows Mobile
			</div>
		</div>
		<div class="col-md-4 aligncenter">
			Browser
			<div ng-if="session.devicebrowser == 'chrome'">
				<img src="/img/sessionico/chrome.png" width="60px" height="60px;">
				<br>
				Chrome
			</div>
			<div ng-if="session.devicebrowser == 'firefox'">
				<img src="/img/sessionico/firefox.png" width="60px" height="60px;">
				<br>
				Firefox
			</div>
			<div ng-if="session.devicebrowser == 'opera'">
				<img src="/img/sessionico/opera.png" width="60px" height="60px;">
				<br>
				Opera
			</div>
			<div ng-if="session.devicebrowser == 'safari'" >
				<img src="/img/sessionico/safari.png" width="60px" height="60px;">
				<br>
				Safari
			</div>
			<div ng-if="session.devicebrowser == 'ie'">
				<img src="/img/sessionico/ie.png" width="60px" height="60px;">
				<br>
				Internet Explorer
			</div>
		</div>
	</div>

	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-primary" ng-click="verify()">Verify</a>
		</div>
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Close</a>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>

<style type="text/css">
	.aligncenter{
		text-align: center;
	}
</style>



