<div class="panel panel-default">
	<div class="panel-heading"><i class="icon-info"></i> Image Source</div>
	<div class="panel-body">
		<input type="text" class="form-control" ng-model="imgsrc" onclick="this.setSelectionRange(0, this.value.length)" />           
	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-info" ng-click="ok()">Close</a>
		</div>
		<div style="clear:both;"></div>
	</footer>
</div>




