<form class="bs-example form-horizontal" name="form" ng-submit="ok(membership)">
   
    <div class="panel panel-default">
        <div class="panel-heading">
            Add New Membership
        </div>

        <div class="row wrapper">
                <div class="col-sm-12">

                    <div class="col-sm-12">Membership Period</div>
                    <div class="col-sm-12">
                        <select name="account" class="form-control m-b" ng-model="membership.period" required>
                              <option value="1">1 Month</option>
                              <option value="3">3 Month</option>
                              <option value="6">6 Month</option>
                              <option value="12">1 Year</option>
                              <option value="24">2 Year</option>
                              <option value="36">3 Year</option>
                              <option value="110">10 Classes</option>
                              <option value="120">20 Classes</option>
                        </select>
                    </div>

                    <div class="line line-dashed b-b line-lg"></div>

                    <div class="col-sm-12">Frequent</div>
                    <div class="col-sm-12">
                        <select name="account" class="form-control m-b" ng-model="membership.frequent" required>
                            <option value="7">Unlimited</option>
                            <option value="2">2 times a week</option>
                            <option value="3">3 times a week</option>
                            <option value="0">No mention</option>
                        </select>
                    </div>

                    <div class="line line-dashed b-b line-lg"></div>

                    <div class="col-sm-12">Price</div>
                    <div class="col-sm-12">         
                        <div class="input-group m-b">
                          <span class="input-group-addon">$</span>
                          <input type="text"  onkeypress="return isNumberKey(event)" class="form-control" ng-model="membership.price" required>
                          <span class="input-group-addon">.00</span>
                        </div>
                    </div>

                    <div class="col-sm-12">Description</div>
                    <div class="col-sm-12">
                    <textarea class="form-control" rows="6" placeholder="Type your message" ng-model="membership.description" ng-required="true"></textarea>
                    </div>
                </div>

        </div>
        <div class="table-responsive">
            <footer class="panel-footer">
                <a type="button" class="btn btn-default" ng-click="cancel()">Cancel</a>
                <button type="submit" class="btn btn-success" ng-disabled="form.$invalid">Save</button>
            </footer>
        </div>
    </div>
    
</form>