
<div class="">
	<div class="panel-heading">Upload Photo</div>
	<div class="panel-body">
		<div class="panel-body">
			<div class="panel-body">
				<div class="btn-group" ng-show="showbtn">
					<label class="btn btn-success ng-valid ng-dirty active" ng-show="videoenabled" ng-model="mediaGallery" btn-radio="'all'" ng-click="click('all')">All ({[{ alllength }]})</label>
					<label class="btn btn-success ng-valid ng-dirty active" ng-model="mediaGallery" btn-radio="'images'" ng-click="click('images')"><icon class="fa fa-file-image-o"> </icon> Images ({[{ imagelength }]})</label>
					<label class="btn btn-success ng-valid ng-dirty" ng-show="videoenabled" ng-model="mediaGallery" btn-radio="'videos'" ng-click="click('videos')"><icon class="fa fa-file-movie-o"> </icon> Videos ({[{ videoslength }]})</label>
				</div>
			</div>
			<alert ng-repeat="alert in imagealert" type="{[{alert.type }]}" close="closeAlert_image($index)">{[{ alert.msg }]}</alert>
			<div class="loader" ng-show="imageloader">
				<div class="loadercontainer">
					<div class="spinner">
						<div class="rect1"></div>
						<div class="rect2"></div>
						<div class="rect3"></div>
						<div class="rect4"></div>
						<div class="rect5"></div>
					</div>
					Uploading your images please wait...
				</div>
			</div>
			<div ng-show="imagecontent" ng-if="!press">
				<div class="col-sml-12">
					<div class="dragdropcenter">
						<div ngf-drop ngf-select class="drop-box" 
						ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
						accept="image/*" ngf-change="upload($files)">Drop images here or click to upload</div>
					</div>
				</div>
				<div style=" width: 100%; height:500px; overflow-y:scroll;">
					<div ng-show="noimage"><center>IMAGE GALLERY IS EMPTY</div>
					<div class="line line-dashed b-b line-lg"></div>

					<div class="col-sm-3" ng-if="imggallery && mediaGallery == 'images'" style="margin-bottom:15px; margin-top:20px">	
						<input id="pathimage" type="hidden" id="title" name="title" class="form-control" ng-init="imgamazonpath=''" onClick="this.setSelectionRange(0, this.value.length)" ng-model="imgamazonpath">
						<input type="button" class="imagegallerystyle" style="background-image: url('/img/no-banner.png');" ng-click="path(imgamazonpath)">
					</div>

					<div class="col-sm-3" ng-repeat="data in imagelist" ng-show="imggallery" style="margin-bottom:15px;">
						<button class=" btn btn-rounded btn btn-icon btn-danger" ng-click="delete(data.id)" style="margin:10px 5px -50px; 5px"><i class="fa fa-trash-o"></i></button>
						<input id="pathimage" type="hidden" id="title" name="title" class="form-control" ng-init="imgamazonpath=amazonpath+'/uploads/newsimage/'+ data.filename" onClick="this.setSelectionRange(0, this.value.length)" ng-model="imgamazonpath">
						<input type="button" class="imagegallerystyle" style="background-image: url('{[{amazonpath}]}/uploads/newsimage/{[{data.filename}]}');" ng-click="path(imgamazonpath)">
					</div>
				</div>
			</div>

			<div ng-show="imagecontent" ng-if="press">
				<div class="col-sml-12" ng-if="mediaGallery == 'images'">
					<div class="dragdropcenter">
						<div ngf-drop ngf-select class="drop-box" 
						ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
						accept="image/*" ngf-change="upload($files)">Drop images here or click to upload</div>
					</div>
				</div>
				<div class="col-sm-12" ng-if="mediaGallery=='videos'">
					<div class="input-group col-sm-7 align-center">
						<input class="form-control" type="text" ng-model="video" placeholder="Paste embed youtube here and click save...">
					  <span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="savevid(video); video = ''">Save</button> <br><br>
					  </span>
					</div>
					<span ng-show="invalidvideo">Invalid youtube embed link.</span>
				</div>
				<div style=" width: 100%; height:500px; overflow-y:scroll;">
					<div ng-show="noimage"><center>IMAGE GALLERY IS EMPTY</div>
					<div class="line line-dashed b-b line-lg"></div>

					<div class="col-sm-3" ng-if="imggallery && mediaGallery == 'images'" style="margin-bottom:15px; margin-top:20px">	
						<input id="pathimage" type="hidden" id="title" name="title" class="form-control" ng-init="imgamazonpath=''" onClick="this.setSelectionRange(0, this.value.length)" ng-model="imgamazonpath">
						<input type="button" class="imagegallerystyle" style="background-image: url('/img/no-banner.png');" ng-click="path(imgamazonpath)" ng-if="mediaGallery == 'images'">
					</div>

					<div class="col-sm-3" ng-repeat="data in imagelist" ng-show="imggallery" style="margin-bottom:15px;">
						<button class=" btn btn-rounded btn btn-icon btn-danger" ng-click="delete(data.id)" style="margin:10px 5px -50px; 5px"><i class="fa fa-trash-o"></i></button>
						<input id="pathimage" type="hidden" id="title" name="title" class="form-control" ng-init="imgamazonpath=amazonpath+'/uploads/newsimage/'+ data.filename" onClick="this.setSelectionRange(0, this.value.length)" ng-if="data.type == 'image'" ng-model="imgamazonpath">
						<input type="button" class="imagegallerystyle" style="background-image: url('{[{amazonpath}]}/uploads/newsimage/{[{data.filename}]}');" ng-click="path(data)" ng-if="data.type == 'image'">

						<input type="button" class="imagegallerystyle" style="background-image: url('{[{data.thumb}]}');" ng-click="path(data)" ng-if="data.type == 'video'">
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<footer class="panel-footer">
	<!-- chat form -->
	<div class="pull-right">
		<a class="btn btn-default" ng-click="cancel()">Close</a>
		<!-- <a class="btn btn-primary" ng-click="ok(update)">Update</a> -->
	</div>
	<div style="clear:both;"></div>
</footer>
</div>






