<div class="panel panel-default">

	<div class="panel-heading"><i class="icon-info"></i> Notification</div>
	<div class="panel-body">
		<p ng-if="!msg">Are you sure you want to edit this News?</p>    
		<p ng-if="msg">{[{ msg }]}</p>              
	</div>

	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Cancel</a>
			<a class="btn btn-primary" ng-click="ok(newsid)">Yes</a>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>




