<style type="text/css">
    #profile_pic {
        display:none;
    }
    .labelofferpic {
        width:100%; height:35px;
        background:rgba(0, 0, 0, .6);
        color:white;
        font-weight:500;
        font-size:16px;
        text-align:center;
        position:Relative; top:-35px;
        clear:both;
        padding:5px 0 0 0;
        display:inline-block;
        cursor:pointer;
        visibility: visible !important;
    }
    .mt{
        margin-top: 10px;
    }
    #blah:hover ~ .labelofferpic, .labelofferpic:hover {
        visibility:visible;
    }
    .statusswitch{
        width: 50px;
        float: left;
    }
    .statusinfo{
        width: 50px;
        float: left;
    }
</style>
<form class="bs-example form-horizontal form-validation ng-pristine ng-invalid ng-invalid-required" name="couponform" ng-submit="update(coupon,offerfile)">
   
    <div class="panel panel-default">
        <div class="panel-heading">
            Edit Offer
            <input type="hidden" ng-model="coupon.offerid">
        </div>

        <div class="row wrapper">
                <div class="col-sm-12">Offer Status</div>
                <div class="col-sm-12">
                    <div class="statusswitch">
                        <label class="i-switch bg-info l-t-xs l-r" style="margin-top:1px">
                          <input type="checkbox" ng-true-value="'1'" ng-model="coupon.status" ng-false-value="'0'">
                          <i></i>
                        </label>
                    </div>
                    <div class="statusinfo">
                      <span class="label bg-info" ng-show="coupon.status == 1">Show</span>
                      <span class="label bg-danger" ng-show="coupon.status == 0">Hidden</span>
                    </div>
                </div>

                <div class="col-sm-12">         
                    <input type="file" id="profile_pic" ngf-select ng-model="offerfile" ngf-multiple="false" ngf-allow-dir="true" accept="image/*,application/pdf" onchange="readURL(this);">
                    <img id="offerimg" src="https://bodynbrain.s3.amazonaws.com/uploads/offerimages/{[{coupon.image}]}" alt="your image" width="100%" height="auto" />
                    <label for="profile_pic" class="labelofferpic">Browse Image {[{coupon.status}]}</label>

                    <alert ng-repeat="alert in imagealert" type="{[{alert.type }]}" close="closeAlert($index, type='image')" >{[{ alert.msg }]}</alert>

                    <div class="form-group wrapper"> 
                        <label for="title">Coupon Title</label>
                        <input type="text" id="title" ng-model="coupon.title" class="form-control" required>
                        <br>
                        <label for="description">Description</label>
                        <textarea class="form-control resize_vert" rows="3" ng-model="coupon.description" required></textarea>
                        <br>
                        <label for="description">Comments</label>
                        <textarea class="form-control resize_vert" rows="3" ng-model="coupon.comments" required>
                         
                        </textarea>
                    </div>
                </div>

                <div class="col-sm-12">
                    <label>Expiration Date</label>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="coupon.expimonth" ng-change="selectedMonth(coupon.expimonth,coupon.expiyear)" ng-options="month.value as month.name for month in datemonth" required>
                    </select>
                    <span class="help">Month</span>
         
                </div>
                <div class="col-sm-2">
                    <select class="form-control" ng-model="coupon.expiday" ng-options="day as day for day in dateday | limitTo:dayOfMonth" required>
                    </select>
                    <span class="help">Day</span>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="coupon.expiyear" ng-change="selectedYear(coupon.expimonth,coupon.expiyear)" ng-options="year for year in dateyear" required>
                    </select>
                    <span class="help">Year</span>
                </div>
        </div>
        <div class="table-responsive">
            <footer class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-success" ng-disabled="couponform.$invalid" ng-hide="issaving">Save</button>
                <button class="btn btn-info" ng-show="issaving">Saving <i class="fa fa-spin fa-spinner"></i></button>
            </footer>
        </div>
    </div>
    
</form>

<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#offerimg')
                .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

</script>