
<div class="">
	<div class="panel-heading">Upload Photo</div>
	<div class="panel-body">
		<div class="panel-body">
			<alert ng-repeat="alert in alertss" type="{[{alert.type }]}" close="closeAlerts($index)">{[{ alert.msg }]}</alert>
                  <div class="loader" ng-show="imageloader">
                    <div class="loadercontainer">
                      
                      <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                      </div>
                      Uploading your images please wait...

                    </div>
                    
                  </div>

                  <div ng-show="imagecontent">

                    <div class="col-sml-12">
                      <div class="dragdropcenter">
                        <div ngf-drop ngf-select class="drop-box" 
                        ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
                        accept="image/*" ngf-change="upload($files)">Drop images here or click to upload</div>
                      </div>
                    </div>

                    <div class="line line-dashed b-b line-lg"></div>
                    <div ui-jq="slimScroll" ui-options="{height:'500px', size:'8px'}">
	                    <div class="col-sm-3" ng-repeat="data in imagelist">
	                      <div class="imagegallerystyle" style="background-image: url('{[{amazonlink}]}/uploads/pageimage/{[{data.filename}]}');" ng-click="putimagestobanner(data.filename)">
	                      </div>
	                    </div>
                     </div>

                  </div>
		</div>
	</div>

</div>
<footer class="panel-footer">
	<!-- chat form -->
	<div class="pull-right">
		<a class="btn btn-default" ng-click="cancel()">Close</a>
		<!-- <a class="btn btn-primary" ng-click="ok(update)">Update</a> -->
	</div>
	<div style="clear:both;"></div>
</footer>
</div>






