<style type="text/css">
  .inputBox {
    padding: 4px;
    border: 1px solid #cad5e0;
  }
</style>
<form class="bs-example form-horizontal" name="form" ng-submit="ok(session)">
   
    <div class="panel panel-default">
        <div class="panel-heading">
            Add New Schedule
        </div>

        <div class="row wrapper">
                <div class="col-sm-12">Time</div>
                <div class="col-sm-12">
                
                  <select class="inputBox" ng-init="session.starthourtime = '07'" ng-model="session.starthourtime">
                    <option ng-repeat="mem in hourlist">{[{mem.time}]}</option required>
                  </select>
                  :
                  <select class="inputBox" ng-init="session.startmintime = '00'" ng-model="session.startmintime">
                    <option ng-repeat="mem in minlist">{[{mem.time}]}</option required>
                  </select>

                  <select class="inputBox" ng-init="session.starttimeformat = 'AM'" ng-model="session.starttimeformat" required>
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                  </select>
                  ~
                  <select class="inputBox" ng-init="session.endhourtime = '08'"  ng-model="session.endhourtime" required>
                    <option ng-repeat="mem in hourlist">{[{mem.time}]}</option>
                  </select>
                  :
                  <select class="inputBox" ng-init="session.endmintime = '00'" ng-model="session.endmintime">
                    <option ng-repeat="mem in minlist">{[{mem.time}]}</option required>
                  </select>

                  <select class="inputBox" ng-init="session.endtimeformat = 'AM'"  ng-model="session.endtimeformat" required>
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                  </select>

                  <div class="line line-dashed b-b line-lg"></div>
                </div>

               
                

                <div class="col-sm-12">Class</div>
                <div class="col-sm-12">
                  <div class="input-group m-b">
                    <span class="input-group-addon bg-info"><div style="width:70px;">Monday</div></span>
                    <select name="account" class="form-control m-b" ng-model="session.mo" >
                      <option value="">Select Class</option>
                      <option ng-repeat="mem in classlist">{[{mem.classlist}]}</option>
                    </select>
                  </div>

                  <div class="input-group m-b">
                    <span class="input-group-addon bg-info"><div style="width:70px;">Tuesday</div></span>
                    <select name="account" class="form-control m-b" ng-model="session.tu" >
                      <option value="">Select Class</option>
                      <option ng-repeat="mem in classlist">{[{mem.classlist}]}</option>
                    </select>
                  </div>

                  <div class="input-group m-b">
                    <span class="input-group-addon bg-info"><div style="width:70px;">Wednesday</div></span>
                    <select name="account" class="form-control m-b" ng-model="session.we" >
                      <option value="">Select Class</option>
                      <option ng-repeat="mem in classlist">{[{mem.classlist}]}</option>
                    </select>
                  </div>

                  <div class="input-group m-b">
                    <span class="input-group-addon bg-info"><div style="width:70px;">Thursday</div></span>
                    <select name="account" class="form-control m-b" ng-model="session.th" >
                      <option value="">Select Class</option>
                      <option ng-repeat="mem in classlist">{[{mem.classlist}]}</option>
                    </select>
                  </div>

                  <div class="input-group m-b">
                    <span class="input-group-addon bg-info"><div style="width:70px;">Friday</div></span>
                    <select name="account" class="form-control m-b" ng-model="session.fr" >
                      <option value="">Select Class</option>
                      <option ng-repeat="mem in classlist">{[{mem.classlist}]}</option>
                    </select>
                  </div>

                  <div class="input-group m-b">
                    <span class="input-group-addon bg-primary"><div style="width:70px;">Saturday</div></span>
                    <select name="account" class="form-control m-b" ng-model="session.sa" >
                      <option value="">Select Class</option>
                      <option ng-repeat="mem in classlist">{[{mem.classlist}]}</option>
                    </select>
                  </div>

                  <div class="input-group m-b">
                    <span class="input-group-addon bg-primary"><div style="width:70px;">Sunday</div></span>
                    <select name="account" class="form-control m-b" ng-model="session.su" >
                      <option value="">Select Class</option>
                      <option ng-repeat="mem in classlist">{[{mem.classlist}]}</option>
                    </select>
                  </div>
                  <div class="line line-dashed b-b line-lg"></div>
                </div>

              
        </div>



        <div class="table-responsive">
            <footer class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-success" ng-disabled="form.$invalid">Save</button>
            </footer>
        </div>
    </div>
    
</form>