<div class="panel panel-default">

	<div class="panel-heading"><i class="icon-info"></i> Notification</div>
	<div class="panel-body">
		<p>Are you sure you want to verify this session?</p>
		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-3 control-label">Confirmation no.</label>
		    <div class="col-sm-5">
		      <span class="label label-danger" ng-if="error">This field is required.</span>
		      <input type="text" class="form-control" id="inputEmail3" ng-model="confno" ng-change="change(confno)">
		    </div>
		  </div>
		</form>
	</div>

	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Cancel</a>
			<a class="btn btn-primary" ng-click="ok(confno)">Verify</a>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>
