<div class="col-sm-6">
	<div class="form-group">
		<label class="col-md-3 control-label">Venue Name</label>
		<div class="col-md-9">
			<input type="text" class="form-control" placeholder="Venue Name">
			<span class="help-block m-b-none">Example:Sedona Mago Retreat, Honor's Haven</span>
		</div>
	</div>

	<div class="line line-lg"></div>

	<div class="form-group">
		<label class="col-md-3 control-label">City</label>
		<div class="col-md-9">
			<input type="text" class="form-control" placeholder="City">
		</div>
	</div>

	<div class="line line-lg"></div>

	<div class="form-group">
		<label class="col-md-3 control-label">State/Province/Region</label>
		<div class="col-md-9">
			<input type="text" class="form-control">
		</div>
	</div>

	<div class="line line-lg"></div>

	<div class="form-group">
		<label class="col-md-3 control-label">Zip Code</label>
		<div class="col-md-9">
			<input type="text" class="form-control">
		</div>
	</div>

	<div class="line line-lg"></div>

	<div class="form-group">
		<label class="col-md-3 control-label">Country</label>
		<div class="col-md-9">
			<input type="text" class="form-control">
		</div>
	</div>

	<div class="line line-lg"></div>

	<div class="form-group">
		<label class="col-md-3 control-label">Website</label>
		<div class="col-md-9">
			<input type="text" class="form-control">
		</div>
	</div>
</div>

<div class="col-sm-6">
	<div class="form-group">
		<label class="col-md-3 control-label">Address 1</label>
		<div class="col-md-9">
			<input type="text" class="form-control" placeholder="Address 1">
			<span class="help-block m-b-none">Street address, P.O. box, company name, c/o </span>
		</div>
	</div>

	<div class="line line-lg"></div>

	<div class="form-group">
		<label class="col-md-3 control-label">Address 2</label>
		<div class="col-md-9">
			<input type="text" class="form-control" placeholder="Apartment, suite, unit, building, floor, etc.">
		</div>
	</div>

	<div class="line line-lg"></div>

	<div class="form-group">
		<label class="col-md-3 control-label">Latitude</label>
		<div class="col-md-9">
			<input type="text" class="form-control">
		</div>
	</div>

	<div class="line line-lg"></div>

	<div class="form-group">
		<label class="col-md-3 control-label">Longtitude</label>
		<div class="col-md-9">
			<input type="text" class="form-control">
		</div>
	</div>

	<div class="line line-lg"></div>

	<div class="form-group">
		<label class="col-md-3 control-label">Phone Number</label>
		<div class="col-md-9">
			<input type="text" class="form-control">         
			<span class="help-block m-b-none"> (Admin should enter phone number including dashes, country code, area code, etc.)</span>
		</div>
	</div>

	<div class="line line-lg"></div>

	<div class="form-group">
		<span class="pull-right">
			<a class="btn btn-md btn-danger" ng-click="isCollapsed = isCollapsed">Cancel</a>
			<button class="btn btn-md btn-success">Save</button>
		</span>
	</div>
</div>