<div class="panel panel-default">
  <div class="panel-heading font-bold" ng-bind="popupTitle"></div>
  <div class="panel-body">
    <form name="workshopTitleFORM" ng-submit="save(workshopTitle)">
      <div class="col-sm-12">
        <input id="workshopTitleTitle" type="text" class="form-control" ng-model="workshopTitle.title" placeholder="Title" required />
      </div>
      <div class="line line-lg"></div>
      <div class="col-sm-12">
        <textarea id="workshopTitleDescription" class="form-control resize_vert" ng-model="workshopTitle.description" rows="10" placeholder="Description of the Title" required />
        </textarea>
      </div>
      <div class="line line-lg"></div>
      <div class="col-sm-12">
        <label>Browse for PDF files <i>(optional)</i></label>
        <div class="input-group">
          <span class="input-group-btn">
            <label class="btn btn-default" for="brochure">
                <span class="glyphicon glyphicon-folder-open"></span>
                &nbsp; Brochure
            </label>
          </span>
          <input type="text" class="form-control" ng-value="pdfName" disabled/>
        </div>
        <input type="file" id="brochure" name="brochure"  class="form-control hidden" ng-model="workshopTitle.brochure" ngf-select="onChangeBrochure(workshopTitle.brochure)" ngf-allow-dir="true" accept="application/pdf" />
      </div>
      <div class="line line-lg"></div>
      <div class="col-sm-12">
        <span class="pull-right btn-group">
          <button type="button" class="btn btn-default" ng-click="cancel()" formnovalidate>Cancel</button>
          <button type="submit" class="btn btn-info" ng-bind="popupSubmit"></button>
        </span>
      </div>
    </form>
  </div>
</div>
