<div class="panel panel-default">

	<div class="panel-heading"><i class="icon-info"></i> Notification</div>
	<div class="panel-body">
		<p>Are you sure you want to edit this Workshop Venue?</p>               
	</div>

	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Cancel</a>
			<a class="btn btn-primary" ng-click="ok(workshopvenueid)">Edit</a>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>




