<div class="panel panel-default">
	<div class="panel-heading"><i class="icon-info"></i> Notification</div>
	<div class="panel-body">
		Are you sure you want to remove this Workshop Title?
		<br><br>
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-sm btn-default" ng-click="cancel()">No</button>
			<button type="button" class="btn btn-sm btn-danger" ng-click="ok(workshoptitleid)">Yes</button>
		</div>
	</div>
</div>
