<div class="panel panel-default">
  <div class="panel-heading font-bold">
    <i class="icon icon-book-open"></i>
    Workshop Registrant Details
    <i class="fa fa-times pull-right pointer" ng-click="close()"></i>
  </div>
  <div class="panel-body">
    <div class="col-sm-12 form-group">
      <label>Workshop Title</label>
      <input type="text" class="form-control" value="{[{ws.workshoptitle}]}" disabled>
    </div>
    <div class="col-sm-12 form-group">
      <label>Workshop Venue</label>
      <input type="text" class="form-control" value="{[{ws.venuename}]}" disabled>
    </div>
    <div class="col-sm-6 form-group">
      <label>Date Start</label>
      <input type="text" class="form-control" value="{[{ws.datestart}]}" disabled>
    </div>
    <div class="col-sm-6 form-group">
      <label>Date End</label>
      <input type="text" class="form-control" value="{[{ws.dateend}]}" disabled>
    </div>
    <div class="col-sm-6 form-group">
      <label>Time Start</label>
      <input type="text" class="form-control" value="{[{ws.starthour}]}:{[{ws.startminute}]} {[{ws.starttimeformat}]}" disabled>
    </div>
    <div class="col-sm-6 form-group">
      <label>Time End</label>
      <input type="text" class="form-control" value="{[{ws.endhour}]}:{[{ws.endminute}]} {[{ws.endtimeformat}]}" disabled>
    </div>

    <div class="line line-lg line-dashed b-b"></div>

    <div class="col-sm-12 form-group">
      <label>Registrant Name</label>
      <input type="text" class="form-control" value="{[{ws.name}]}" disabled>
    </div>
    <div class="col-sm-12 form-group">
      <label>Address</label>
      <input type="text" class="form-control" value="{[{ws.address}]}" disabled>
    </div>
    <div class="col-sm-12 form-group">
      <label>Email</label>
      <input type="text" class="form-control" value="{[{ws.email}]}" disabled>
    </div>
    <div class="col-sm-12 form-group">
      <label>Contact</label>
      <input type="text" class="form-control" value="{[{ws.contact}]}" disabled>
    </div>

    <div class="line line-lg line-dashed b-b"></div>

    <div class="col-sm-12 form-group">
      <label>Date Registered</label>
      <input type="text" class="form-control" value="{[{ws.dateregistered | date:'MMM d, y h:mm a'}]}" disabled>
    </div>
    <div class="col-sm-4 form-group">
      <label>Tuition</label>
      <input type="text" class="form-control" value="${[{ws.tuition}]}" disabled>
    </div>
    <div class="col-sm-4 form-group">
      <label>Quantity</label>
      <input type="text" class="form-control" value="{[{ws.qty}]}" disabled>
    </div>
    <div class="col-sm-4 form-group">
      <label>Payment</label>
      <input type="text" class="form-control" value="${[{ws.cash}]}" disabled>
    </div>
    <div class="col-sm-12 form-group">
      <label>Via</label>
      <input type="text" class="form-control" value="{[{ws.paymenttype}]}" disabled>
    </div>

    <div class="line line-lg line-dashed b-b"></div>

    <div class="col-md-4 aligncenter">
      Device
      <div ng-if="ws.device == 'android' || ws.device == 'iphone' || ws.device == 'blackberry' || ws.device == 'windows-phone' || ws.device == 'ipod'">
        <img src="/img/sessionico/mobile.png" width="60px" height="60px;">
        <br>
        Mobile
      </div>
      <div ng-if="ws.device == 'desktop'">
        <img src="/img/sessionico/pc.png" width="60px" height="60px;">
        <br>
        Desktop
      </div>
    </div>
    <div class="col-md-4 aligncenter">
      Operating System
      <div ng-if="ws.deviceos == 'android'">
        <img src="/img/sessionico/android.png" width="60px" height="60px;">
        <br>
        Android
      </div>
      <div ng-if="ws.deviceos == 'ios'">
        <img src="/img/sessionico/ios.png" width="60px" height="60px;">
        <br>
        iOS
      </div>
      <div ng-if="ws.deviceos == 'mac'">
        <img src="/img/sessionico/macos.png" width="60px" height="60px;">
        <br>
        Mac Os
      </div>
      <div ng-if="ws.deviceos == 'windows' || session.deviceos == 'windows-phone'">
        <img src="/img/sessionico/windows.png" width="60px" height="60px;">
        <br>
        Windows Os
      </div>
      <div ng-if="ws.deviceos == 'windows-phone'">
        <img src="/img/sessionico/windows.png" width="60px" height="60px;">
        <br>
        Windows Mobile
      </div>
    </div>
    <div class="col-md-4 aligncenter">
      Browser
      <div ng-if="ws.devicebrowser == 'chrome'">
        <img src="/img/sessionico/chrome.png" width="60px" height="60px;">
        <br>
        Chrome
      </div>
      <div ng-if="ws.devicebrowser == 'firefox'">
        <img src="/img/sessionico/firefox.png" width="60px" height="60px;">
        <br>
        Firefox
      </div>
      <div ng-if="ws.devicebrowser == 'opera'">
        <img src="/img/sessionico/opera.png" width="60px" height="60px;">
        <br>
        Opera
      </div>
      <div ng-if="ws.devicebrowser == 'safari'" >
        <img src="/img/sessionico/safari.png" width="60px" height="60px;">
        <br>
        Safari
      </div>
      <div ng-if="ws.devicebrowser == 'ie'">
        <img src="/img/sessionico/ie.png" width="60px" height="60px;">
        <br>
        Internet Explorer
      </div>
  </div>
</div>
