<div class="panel panel-info">
  <div class="panel-heading font-bold">Success!
    <i class="fa fa-times pull-right pointer" ng-click="close()"></i>
  </div>
  <div class="panel-body">
    <p ng-bind="msg"></p>
  </div>
</div>
