<div class="panel panel-default">
  <div class="panel-heading font-bold">
    <i class="icon icon-book-open"></i>
    Workshop Details
    <i class="fa fa-times pull-right pointer" ng-click="close()"></i>
  </div>
  <div class="panel-body">
    <div class="col-sm-12 form-group">
      <label>Main Venue</label>
      <input type="text" class="form-control" value="{[{workshop.centertitle}]} Center" ng-if="workshop.venue == 'bnbcenter' " disabled/>
      <input type="text" class="form-control" value="{[{workshop.venuename}]}" ng-if="workshop.venue != 'bnbcenter' " disabled/>
    </div>

    <div class="col-sm-12 form-group">
      <label>Workshop Title</label>
      <input type="text" class="form-control" value="{[{workshop.titlename}]}" disabled/>
    </div>

    <div class="col-sm-6 form-group">
      <label>Starting Date</label>
      <input type="text" class="form-control" value="{[{workshop.datestart}]}" disabled/>
    </div>
    <div class="col-sm-6 form-group">
      <label>Ending Date</label>
      <input type="text" class="form-control" value="{[{workshop.dateend}]}" disabled/>
    </div>
    <div class="col-sm-6 form-group">
      <label>Starting Time</label>
      <input type="text" class="form-control" value="{[{workshop.starthour}]}:{[{workshop.startminute}]} {[{workshop.starttimeformat}]}" disabled/>
    </div>
    <div class="col-sm-6 form-group">
      <label>Ending Time</label>
      <input type="text" class="form-control" value="{[{workshop.endhour}]}:{[{workshop.endminute}]} {[{workshop.endtimeformat}]}" disabled/>
    </div>

    <div class="col-sm-6 form-group">
      <label>Regular Tuition</label>
      <input type="text" class="form-control" value="${[{workshop.tuition}]}" disabled/>
    </div>
    <div class="col-sm-6 form-group" ng-if="workshop.sale != 0 && workshop.sale != null">
      <label>Sale Price</label>
      <input type="text" class="form-control" value="${[{workshop.sale}]}" disabled/>
    </div>

    <div class="col-sm-12 form-group">
      <label>About Workshop</label>
      <textarea class="form-control resize_vert" disabled>{[{workshop.about}]}</textarea>
    </div>
    <div class="col-sm-12 form-group">
      <label>Note</label>
      <textarea class="form-control resize_vert" disabled>{[{workshop.note}]}</textarea>
    </div>
    <div class="col-sm-12 form-group">
      <label>Accomodation</label>
      <textarea class="form-control resize_vert" disabled>{[{workshop.accomodation}]}</textarea>
    </div>
    <div class="col-sm-12 form-group">
      <label>Miscellaneous</label>
      <textarea class="form-control resize_vert" disabled>{[{workshop.miscellaneous}]}</textarea>
    </div>
    <div class="col-sm-12 form-group">
      <label>Meta Title</label>
      <textarea class="form-control resize_vert" disabled>{[{workshop.metatitle}]}</textarea>
    </div>
    <div class="col-sm-12 form-group">
      <label>Meta Description</label>
      <textarea class="form-control resize_vert" disabled>{[{workshop.metadesc}]}</textarea>
    </div>

</div>
