<div class="panel panel-info">
	<div class="panel-heading"><i class="icon-info"></i> Workshop</div>
	<div class="panel-body">
		<p>Are you sure you want to edit this Workshop?</p>
	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-sm btn-default" ng-click="cancel()">No</a>
			<a class="btn btn-sm btn-info" ng-click="ok(workshopid)">Yes</a>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>
