<div class="panel panel-danger">
	<div class="panel-heading"><i class="icon-info"></i> Workshop</div>
	<div class="panel-body">
		<p>Are you sure you want to remove this Workshop on the list?</p>
		<div class="pull-right">
			<a class="btn btn-sm btn-default" ng-click="cancel()">No</a>
			<a class="btn btn-sm btn-danger" ng-click="ok(workshopid)">Yes</a>
		</div>
	</div>
</div>
