{{ content() }}
<div id="Scrollup"></div>
<script type="text/ng-template" id="newsimagelist.html">
  <div ng-include="'/be/tpl/newsimagelist.html'"></div>
</script>
<script type="text/ng-template" id="newsimagelist2.html">
  <div ng-include="'/be/tpl/newsimagelist2.html'"></div>
</script>
<script type="text/ng-template" id="imagesrc.html">
  <div ng-include="'/be/tpl/imagesrc.html'"></div>
</script>
<script type="text/ng-template" id="delete.html">
  <div ng-include="'/be/tpl/delete.html'"></div>
</script>

<fieldset ng-disabled="isSaving">
<form id="newNewsForm" name="newNewsForm" ng-submit="saveNews(news)">

<div class="bg-light lter b-b wrapper-md">
  <span class="m-n font-thin h3">Create News</span>
  <a id="top"></a>
  <button type="submit" class="btn btn-success pull-right" scroll-to="Scrollup"><i class="fa fa-save"></i></button>
</div>

  <div class="wrapper-md">
    <alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>

      <div class="row">

        <div class="col-sm-8">
          <div class="panel panel-default">

            <div class="panel-heading font-bold">
              News Information
            </div>

              <div class="panel-body">
                <div class="col-md-12">
                  <label>Title:</label>
                  <em class="help text-danger pull-right" ng-show="formpage.title.$error.required">(Required)</em>
                  </b>
                  <input type="text" id="title" name="title" class="form-control" ng-model="news.title" required="required" ng-change="SEO(news.title)" required>
                  <br>
                </div>

                <div class="form-group col-md-12">
                  <label>SEO: </label>
                  <input type="text" id="newsslugs" class="form-control" ng-model="news.slugs" ng-change="SEO(news.slugs)" required />
                  {#<span ng-bind="news.slugs"></span>#}
                  {#<div class="popOver" ng-show="invalidtitle">
                      Slugs is already taken.
                      <span class="pop-triangle"></span>
                  </div>#}
                  {#<div ng-show="editslug" class="ng-hide">
                    <a class="btn btn-danger btn-xs pull-right mg-left" ng-click="cancelnewsslug(news.title)">cancel</a>
                    <a class="btn btn-primary btn-xs pull-right mg-left" ng-click="setslug(news.slugs)">ok</a>
                  </div>
                  <a class="btn btn-danger btn-xs pull-right mg-left" ng-hide="editslug" ng-click="clearslug(news.title)">clear</a>
                  <a class="btn btn-primary btn-xs pull-right mg-left" ng-hide="editslug" ng-click="editnewsslug()">edit slug</a>
                  <br><br>#}
                </div>

                <div class="line line-dashed b-b line-lg"></div>

                <div class="col-md-6">
                  <label>News Location</label>
                  <div ui-module="select2">
                    <select ui-select2 name="newslocation" ng-model="news.newslocation" class="form-control" required>
                      <option value="mainsite">Main Site</option>
                      <option value="center">Center</option>
                      <!-- <option ng-repeat="mem in newslocation" value="{[{mem.centerid}]}">{[{mem.centertitle}]}</option> -->
                    </select>
                  </div>
                  <br>
                </div>

                <div class="col-md-6">
                  <div ng-show='news.newslocation == "mainsite"'>
                    <label>Category</label>
                    <select class="form-control m-b" ng-model="news.category" ng-options="cat.categoryname for cat in category">
                    </select>
                  </div>

                  <div ng-show='news.newslocation == "center"'>
                    <label>Centers</label>
                    <select chosen multiple class="chosen-choices form-control" ng-model="news.centers" ng-options="cat.centertitle for cat in newslocation">
                    </select>
                  </div>
                </div>

                <div class="form-group col-md-12">
                  <label>Body Content</label>
                  <a class="btn btn-default btn-sm pull-right" ng-click="imagegallery('lg')">
                    <i class="fa fa-file-image-o text"></i>
                    Image Gallery
                  </a>
                  <br><br>
                  <textarea name="body" class="ck-editor" ng-model="news.body" required></textarea>
                </div>

                <div class="form-group col-md-12">
                  <label>Author</label>
                  <em class="text-muted pull-right">(Optional)</em>
                  <input type="text" class="form-control" ng-model="news.author" name="news.author" />
                </div>
              </div> <!-- END OF panel Body-->
          </div>
        </div>

        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading font-bold">Date Published</div>
            <div class="panel-body">
              <div class="input-group">
                <span class="input-group-btn">
                  <input id="date" name="date" class="form-control" datepicker-popup="dd-MMMM-yyyy"
                  style="max-width:80%"
                  ng-model="news.date"
                  type="text"
                  is-open="opened"
                  datepicker-options="dateOptions"
                  close-text="Close"
                  ng-init="news.date = '<?php echo date('Y-m-d'); ?>' "
                  disabled required />
                  <button type="button" class="btn btn-default" ng-click="open($event)" style="width:20%"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading font-bold">
              Banner
                <em class="text-danger pull-right" ng-show="formpage.banner.$error.required && news.newslocation == 'mainsite'">(Required)</em>
                <em class="text-muted pull-right" ng-show="news.newslocation != 'mainsite' && formpage.banner != null ">(Optional)</em>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <div class="input-group m-b">
                  <span class="input-group-btn">
                    <a class="btn btn-default"  ng-click="showimageList('lg', 'banner')">Select Image</a>
                  </span>
                  <input id="amzon" type="hidden" name="submain" ng-init="amazon='<?php echo $this->config->application->amazonlink; ?>'" ng-model="amazon">
                  <input type="text" name="banner" class="form-control" ng-value="news.banner = amazonpath " ng-model="news.banner" placeholder="{[{amazonpath}]}" readonly />

                  {# required dati sa mainsite, ngayon optional na lang din #}
                  {#<input type="text" name="banner" class="form-control" ng-value="news.banner = amazonpath " ng-model="news.banner" placeholder="{[{amazonpath}]}" ng-required='news.newslocation == "mainsite"' readonly />#}

                </div>
                <div>
                  <img src="<?php echo $this->config->application->amazonlink; ?>/uploads/newsimage/{[{news.banner}]}" class="img-responsive" ng-show="news.banner != ''">
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <span class="text-muted">A ratio of 3W x 8L is the recommended image size for better viewing in the frontend.</span>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading font-bold">
              Thumbnail
                <em class="text-danger pull-right" ng-show="formpage.thumbnail.$error.required && news.newslocation == 'mainsite'">(Required)</em>
                <em class="text-muted pull-right" ng-show="news.newslocation != 'mainsite' && formpage.thumbnail != null ">(Optional)</em>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <div class="input-group m-b">
                  <span class="input-group-btn">
                    <a class="btn btn-default"  ng-click="showimageList('lg', 'thumbnail')">Select Image</a>
                  </span>
                  <input id="amzon2" type="hidden" name="submain" ng-init="amazon='<?php echo $this->config->application->amazonlink; ?>'" ng-model="amazon">
                  <input type="text" name="thumbnail" class="form-control" ng-value="news.thumbnail = amazonpath2 " ng-model="news.thumbnail" placeholder="{[{amazonpath2}]}" readonly />
                </div>
                <div>
                  <img src="<?php echo $this->config->application->amazonlink; ?>/uploads/newsimage/{[{news.thumbnail}]}" class="img-responsive" ng-show="news.thumbnail != ''">
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <span class="text-muted">A ratio of 2W x 3L is the recommended image size for better viewing in the frontend.</span>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading"><b>Meta Properties</b><em class="pull-right">(optional)</em></div>
            <div class="panel-body">
              <div class="form-group">
                <label>Title</label>
                <input type="text" id="metatitle" name="metatitle" class="form-control" ng-model="news.metatitle" />
              </div>
              <div class="form-group">
                <label>Description</label>
                <em>(Maximum of 350 characters)</em>
                <textarea class="form-control rv" rows="4" ng-model="news.description" maxlength="350"></textarea>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading font-bold">
              News Status
            </div>
            <div class="panel-body" ng-init="news.status=1">
              <div class="form-group" >
                  <label class="col-sm-3 control-label">
                    <span class="label bg-info" ng-show="news.status == 1">Online</span>
                    <span class="label bg-danger" ng-show="news.status == 0">404</span>
                  </label>

                  <label class="i-switch bg-info l-t-xs l-r" style="margin-top:1px">
                    <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="news.status" >
                    <i></i>
                  </label>
              </div>
            </div>
          </div>

          <div class="panel panel-default" ng-if='news.newslocation == "mainsite"'>
            <div class="panel-heading font-bold">
              Set as featured
            </div>
            <div class="panel-body" ng-init="news.featurednews=0">
              <div class="form-group" >
                  <label class="col-sm-3 control-label">
                    <span class="label bg-success" ng-show="news.featurednews == 1">Yes</span>
                    <span class="label bg-dark" ng-show="news.featurednews == 0">No</span>
                  </label>

                  <label class="i-switch bg-info l-t-xs l-r" style="margin-top:1px">
                    <input type="checkbox" ng-true-value="'1'" ng-model="news.featurednews" ng-false-value="'0'">
                    <i></i>
                  </label>
              </div>
            </div>
          </div>

        </div>


      </div>

  </div>
</form>
</fieldset>
