.closebutton{ /* to make a nice looking pure CSS3 close button */
    display:block;
    position:absolute;
    top:-5px;
    right:10px;
    background:red;
    color:white;
    height:20px;
    width:20px;
    line-height:20px;
    font-size:20px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -o-border-radius:20px;
    border-radius:20px;
}

/* ========================================== BACK END =========================================================*/
.no_margin { padding:0; margin:0; }
.margin_left_10px { margin-left:10px; }
.margin_left_20px { margin-left:20px; }
.mr_tp-5px {margin-top:-5px !important;}
.mr_tp-10px {margin-top:-10px !important;}
.margin_right_5px { margin-right:5px; }
.padding_left_10px { padding-left:10px !important;  }
.padding_left_20px { padding-left:20px !important; }
.padding_left_25px { padding-left:25px !important; }
.padding_left_27px { padding-left:27px !important; }
.align_left { text-align:left;}
.aligncenter{text-align: center;}
.inputBox { padding: 4px; border: 1px solid #cad5e0; }
.auto_text { color:#111;}
.resize_vert, .rv { resize: vertical; }
.width_100 { width:100px;}
.width_150 { width:150px;}
.cursor_pointer, .pointer { cursor:pointer;}
.imagelist { height:165px; }
.img-rps { max-height:inherit; margin:0 auto; }

div.pageheader button {
  position:relative;
  top:-30px;
}
/* =================================== ;UNIVERSAL =================================== */
.check_align {
  position:relative;
  top:-8px;
}
.check_align_checkbox { left:8px; }

.md {
  position:relative; top: 2px;
  display:table-cell;
  height:22px !important;
  font-size:90%;
  vertical-align:middle;
  background:red;
}

/*USER MANAGEMENT CSS*/
.popOver {
  padding:5px;
  border-radius:10px;
  box-shadow:0 1px 5px red;
  background:tomato;
  max-width:225px;
  position:absolute; margin-top:10px;
  font-size:90%;
  color:white;
/*  height:45px;*/
  z-index:10;
}
  .pop-triangle {
    display:block;
    height:0; width:0;
    border-top:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid tomato;
    border-left:10px solid transparent;
    margin:0 auto;
    position:relative; top:-42px; left:-50px;
  }

#profile_pic {
  display:none;
}
.label_profile_pic {
  width:200px; height:35px;
  background:rgba(0, 0, 0, .6);
  color:white;
  font-weight:500;
  font-size:16px;
  text-align:center;
  position:Relative; top:-35px;
  clear:both;
  padding:5px 0 0 0;
  display:table-cell;
  visibility:hidden;
  cursor:pointer;
}
#blah:hover ~ .label_profile_pic, .label_profile_pic:hover {
  visibility:visible;
}
#blah {
    width:200px; height:200px;
}

/*create user*/
.cropArea {
  background: #FFFFFF;
  overflow: hidden;
  width:500px;
  height:350px;
}

.back_chrono {
  position:fixed;
  left:0; top:0;
  background:rgba(0,0,0,.6);
  width:100%; height:100%;
  padding:25% 0 0 0 ;
  z-index:9999999999999999999999;
}

/*jeevon*/
/*textbox suggestion*/
span.ui-helper-hidden-accessible {
    display: none;
}
.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    overflow-y:scroll;
    max-height: 300px!important;
}
.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}
.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

/*input spinner custom*/
.bootstrap-touchspin .input-group-btn-vertical > .btn {
    padding: 7px 10px!important;
}
.colstyle {
    height: 90px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    float: left;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    border: 5px solid #c2c2c2;
    opacity: 0.8;
}
.colstyle:hover{
    opacity: 1;
}

.font-italic {
    font-style: italic;
}

.popover-size {
    width: 175px;
    max-height: 400px;
    overflow-y: visible;
}

.popover-size div.row {
    border-bottom: #ccc solid 1px;
    margin-top: 0px;
}

.mouse-pointer:hover {
    cursor: pointer;
}

.mar-left{
    margin-left: 15px;
}

.viewpr-mg-bot {
    margin: 3px;
}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: inline;
    margin: 0px;
    color: #fff;
}

.stat {
    top: -9px;
    position: relative;
}

.ui-select-multiple.ui-select-bootstrap {
    min-height: 32.333px!important;
}

.text-left {
    text-align: left!important;
}

#pageslugs {
    width: 150px;
    position: relative;
}

.mg-left {
    margin-left: 6px;
    margin-bottom: 10px;
}

.xxx-modal-window .modal-dialog {
    width: 90%;
}


.xxx-modal-window .panel-main {
    height: 500px !important;
    overflow-y: scroll;
}
.galleryactionbutton{
    display: none;
}
.imagegallerystyle{
    cursor: pointer;
}
.check-icon{
    margin:5px;
    font-size: 30px;
    color: green;
}
.selectedstyle{
    border: 5px solid green;
}
.imagegallerystyle:hover{
    border: 5px solid #FF9641;
}
.imagegallerystyle:hover .galleryactionbutton{
    display: block;
}
.smallThumb{
    background-position: center;
    background-size: cover;
    width:35px;
    height: 35px;
}

.youtube-play{
    position: absolute;
    top:0px;
    width:100%;
    margin-top: 20%;
    text-align: center;
}

.hiddenoverflow {
    overflow: hidden;
}

.width90px {
    width: 90px;
}

.colorpicker-colorbox {
    width: 40px;
    margin-left: 5px;
    border-radius: 4px;
}

.text-bold {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.qty {
  font-size: 10px;
  font-style: italic;
  color: rgb(88, 102, 110);
}

.ordercomments {
  max-height: 272px;
  overflow: hidden;
  overflow-y: scroll;
}

.full-width {
  width: 100%!important;
}

.bg-image {
  background-size: cover;
  background-position: center;
}

div.featured {
  border: 3px red solid;
}

div.featured span {
  color: red;
  margin-left: 5px;
}

.pimage:hover {
  border: 3px red solid;
}

.bg-orange {
  background:#f15d22!important; color:white!important;
}

tags-input .tags .tag-item {
    background: #fff!important;
    border: 1px solid #dee5e7!important;
    border-radius: 4px!important;
    color: #58666e !important;
    border-bottom-color: #d8e1e3!important;
}


.wrbr {
  word-break: break-word;
}
