//null
@xs:10px;
@sm:15px;
@md:20px;
@lg:25px;
@xl:30px;
// ==========================================================background
.bg (@bg) { background-color:@bg; }
.bg-white { background:#FFFFFF; }
.background (@color, @image, @repeat, @position, @size, @attachment) {
	background-color: @color;
	background-image: url(@image);
	background-repeat:@repeat;
	background-position:@position;
	background-size:@size;
	background-attachment:@attachment;
}
.bgcolor (@bg, @color) { background-color:@bg; color:@color; }
// ==========================================================color
@hue-gray-lt:lighten(@hue-gray, 15%);
@hue-gray:gray;
@hue-gray-dr: darken(@hue-gray, 15%);
.gray-lt { .color-lt(gray); }
.gray { color:gray }
.gray-dr { .color-dr(gray); }

@hue-orange-lt:lighten(@hue-orange, 15%);
@hue-orange: #F15C22;
@hue-orange-dr: darken(@hue-orange, 15%);
.orange-lt { .color-lt(@hue-orange); }
.orange { color:@hue-orange; }
.orange-dr { .color-dr(@hue-orange); }

@hue-blue-lt:lighten(@hue-blue, 15%);
@hue-blue: #00adbb;
@hue-blue-dr:darken(@hue-blue, 15%);
.blue-lt { .color-lt(#00adbb); }
.blue { color:#00adbb }
.blue-dr { .color-dr(#00adbb); }

@hue-danger-lt:lighten(@hue-danger, 15%);
@hue-danger: tomato;
@hue-danger-dr:darken(@hue-danger, 15%);
.danger-lt { .color-lt(@hue-danger;); }
.danger { color:@hue-danger; }
.danger-dr { .color-dr(@hue-danger;); }

.color (@color) { color:@color; }
.color-lt (@color) { color: lighten(@color, 15%); }
.color-dr (@color) { color: darken(@color, 15%); }
// ==========================================================z-index
.z (@z) { z-index:@z; }
// ==========================================================float
.float-left { float:left; }
.float-right { float:left; }
.no-float { float:none; }
// ==========================================================font-weight
.bold { font-weight: bold; }
// ==========================================================none
.no-outline { outline:none; }
.no-decoration { text-decoration:none; }
.no-radius, .flat { border-radius:0; }
// ==========================================================text-decoration
.font (@family, @style, @weight, @size, @color, @alignment) {
	font-family:@family;
	font-style:@style;
	font-weight:@weight;
	font-size:@size;
	color:@color;
	text-align:@alignment;
}
.decoration (@decoration) { text-decoration:@decoration; }
// ==========================================================text-align
.align (@align) { text-align:@align; }
.align-r { .align(right); }
.align-c { .align(center); }
.align-l { .align(left); }
.align-j { .align(justify); }
// ==========================================================font-size
.text-xs { font-size:@xs; }
.text-sm { font-size:@sm; }
.text-md { font-size:@md; }
.text-lg { font-size:@lg; }
.text-xl { font-size:@xl; }
.text-size(@size) { font-size:@size; }
// ==========================================================margin
.mar-free (@top, @right, @bottom, @left) { margin:@top @right @bottom @left; }

.mar-xs { margin:@xs; }
.mar-sm { margin:@sm; }
.mar-md { margin:@md; }
.mar-lg { margin:@lg; }
.mar-xl { margin:@xl; }
.mar (@margin) { margin:@margin; }

.mar-xs-h { margin:0 @xs; } //horizontal left&right
.mar-sm-h { margin:0 @sm; } //horizontal left&right
.mar-md-h { margin:0 @md; } //horizontal left&right
.mar-lg-h { margin:0 @lg; } //horizontal left&right
.mar-xl-h { margin:0 @xl; } //horizontal left&right
.mar-h (@margin) { margin:0 @margin; }

.mar-xs-v { margin:@xs 0; } //vertical top&bottom
.mar-sm-v { margin:@sm 0; } //vertical top&bottom
.mar-md-v { margin:@md 0; } //vertical top&bottom
.mar-lg-v { margin:@lg 0; } //vertical top&bottom
.mar-xl-v { margin:@xl 0; } //vertical top&bottom
.mar-v (@margin) { margin:@margin 0; }

.mar-xs-t { margin-top:@xs; } //top only
.mar-sm-t { margin-top:@sm; } //top only
.mar-md-t { margin-top:@md; } //top only
.mar-lg-t { margin-top:@lg; } //top only
.mar-xl-t { margin-top:@xl; } //top only
.mar-t (@margin) { margin-top:@margin; }

.mar-xs-r { margin-right:@xs; } //right only
.mar-sm-r { margin-right:@sm; } //right only
.mar-md-r { margin-right:@md; } //right only
.mar-lg-r { margin-right:@lg; } //right only
.mar-xl-r { margin-right:@xl; } //right only
.mar-r (@margin) { margin-right:@margin; }

.mar-xs-b { margin-bottom:@xs; } //bottom only
.mar-sm-b { margin-bottom:@sm; } //bottom only
.mar-md-b { margin-bottom:@md; } //bottom only
.mar-lg-b { margin-bottom:@lg; } //bottom only
.mar-xl-b { margin-bottom:@xl; } //bottom only
.mar-b (@margin) { margin-bottom:@margin; }

.mar-xs-l { margin-left:@xs; } //left only
.mar-sm-l { margin-left:@sm; } //left only
.mar-md-l { margin-left:@md; } //left only
.mar-lg-l { margin-left:@lg; } //left only
.mar-xl-l { margin-left:@xl; } //left only
.mar-l (@margin) { margin-left:@margin; }

.mar-auto { margin:auto; }
.mar-auto-h { margin:0 auto; }
.mar-auto-v { margin:auto 0; }
// ==========================================================padding
.pad-free (@top, @right, @bottom, @left) { padding:@top @right @bottom @left; }

.pad-xs { padding:@xs; }
.pad-sm { padding:@sm; }
.pad-md { padding:@md; }
.pad-lg { padding:@lg; }
.pad-xl { padding:@xl; }
.pad (@padding) { padding:@padding; }

.pad-xs-h { padding:0 @xs; } //horizontal left&right
.pad-sm-h { padding:0 @sm; } //horizontal left&right
.pad-md-h { padding:0 @md; } //horizontal left&right
.pad-lg-h { padding:0 @lg; } //horizontal left&right
.pad-xl-h { padding:0 @xl; } //horizontal left&right
.pad-h (@padding) { padding:0 @padding; }

.pad-xs-v { padding:@xs 0; } //vertical top&bottom
.pad-sm-v { padding:@sm 0; } //vertical top&bottom
.pad-md-v { padding:@md 0; } //vertical top&bottom
.pad-lg-v { padding:@lg 0; } //vertical top&bottom
.pad-xl-v { padding:@xl 0; } //vertical top&bottom
.pad-v (@padding) { padding:@padding 0; }

.pad-xs-t { padding-top:@xs; } //top only
.pad-sm-t { padding-top:@sm; } //top only
.pad-md-t { padding-top:@md; } //top only
.pad-lg-t { padding-top:@lg; } //top only
.pad-xl-t { padding-top:@xl; } //top only
.pad-t (@padding) { padding-top:@padding; }

.pad-xs-r { padding-right:@xs; } //right only
.pad-sm-r { padding-right:@sm; } //right only
.pad-md-r { padding-right:@md; } //right only
.pad-lg-r { padding-right:@lg; } //right only
.pad-xl-r { padding-right:@xl; } //right only
.pad-r (@padding) { padding-right:@padding; }

.pad-xs-b { padding-bottom:@xs; } //bottom only
.pad-sm-b { padding-bottom:@sm; } //bottom only
.pad-md-b { padding-bottom:@md; } //bottom only
.pad-lg-b { padding-bottom:@lg; } //bottom only
.pad-xl-b { padding-bottom:@xl; } //bottom only
.pad-b (@padding) { padding-bottom:@padding; }

.pad-xs-l { padding-left:@xs; } //left only
.pad-sm-l { padding-left:@sm; } //left only
.pad-md-l { padding-left:@md; } //left only
.pad-lg-l { padding-left:@lg; } //left only
.pad-xl-l { padding-left:@xl; } //left only
.pad-l (@padding) { padding-left:@padding; }
// ==========================================================border
.border (@color) { border:1px solid @color; }
.border-top (@color) { border-top:1px solid @color; }
.border-right (@color) { border-right:1px solid @color; }
.border-bottom (@color) { border-bottom:1px solid @color; }
.border-left (@color) { border-left:1px solid @color; }
.border-radius(@radius) { border-radius:@radius; }
// ==========================================================overflow
.auto-flow { overflow: auto; }
.hidden-flow { overflow: hidden; }
// ==========================================================width & height
.height (@height) { height: @height; }
.width (@width) { width:@width; }
.size (@height, @width) { height:@height; width:@width; }
// ==========================================================display
.display(@display) { display:@display; }
// ==========================================================position
.absolute { position: absolute; }
.relative { position: relative; }
.fixed { position: fixed; }
.position (@position, @top, @left, @right) {
	position:@position;
	top:@top;
	left:@left;
	right:@right;
}
// ==========================================================direction
.top(@top) { top:@top;}
.right(@right) { right:@right;}
.bottom(@bottom) { bottom:@bottom;}
.left(@left) { left:@left;}
//========================================================icon
.icon-xs { .width(10px); .height(10px); }
.icon-sm { .width(20px); .height(20px); }
.icon-md { .width(35px); .height(35px); }
.icon-lg { .width(55px); .height(55px); }
.icon-xl { .width(100px); .height(100px); }
.icon-xxl { .width(180px); .height(180px); }
//========================================================cursor
.cursor(@cursor) { cursor:@cursor; }
.pointer { cursor:pointer}
//========================================================
.maxh-xs { max-height:50px; }
.maxh-sm { max-height:100px; }
.maxh-md { max-height:150px!important; }
.maxh-lg { max-height:200px; }
.maxh-xl { max-height:250px; }
// *********************************************************
//                    CUSTOMIZE BELOW
// *********************************************************

//=========================================================anchor
